body{
	font-size: 16px;
	line-height: 20px;
}

.projectLink img,.dealcard-img img{
	display: inline-block;
	width:80px !important;
	height:80px;
	border:1px solid #FFFFFF;
}
.imgBox{
	width:100%;
	border:1px solid #FFFFFF;
}
.imgBox img{
	display: block;
	width:100%;
}

.ceremonyContent{
	padding:1% 3%;
}
.listContent{ 
	font-size: 0.13rem;
	margin-top: 8%;
	padding: 3% 0;
}
