 /*边距*/

.mt10 {
	margin-top: 0.1rem;
}

.mb10 {
	margin-bottom: 0.1rem;
}

.ml10 {
	margin-left: 0.1rem;
}

.mr10 {
	margin-right: 0.1rem;
}

.mar10 {
	margin: 0.1rem;
}

.pad_t10 {
	padding-top: 0.1rem;
}

.pad_b10 {
	padding-bottom: 0.1rem;
}

.pad_l10 {
	padding-left: 0.1rem;
}

.pad_r10 {
	padding-right: 0.1rem;
}

.pad10 {
	padding: 0.1rem;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.pb50 {
	padding-bottom: 0.5rem;
}

.mr20 {
	margin-right: 0.20rem !important;
}

.mr25 {
	margin-right: 10px !important;
}

.ml25 {
	margin-left: 10px !important;
}

/*字体颜色*/

.maincl {
	color: rgb(101,101,101);
}
.activecl{
	color: rgb(249,60,58);
}
.disablecl{
	color: rgb(153,153,153);
}
/*标题颜色*/
.titcl{
	color: rgb(51,51,51);
}
/*css文字溢出省略*/

.line2 {
	overflow: hidden;
	text-overflow: ellipsis;
}
 
 /*实心红色按钮
  * 
  * 默认灰色空心  .mui-btn
  <button type="button" class="mui-btn mui-btn-danger mar10">确定</button>
  */
.mui-btn-danger{
	/*border:1px solid rgb(0,226,144);*/
	color: #fff;
    background-color: rgb(249,60,58);
    border:1px solid rgb(249,60,58);
}

/*透明红色边框按钮 颜色相应改变
 <button type="button" class="mui-btn mui-btn-outlined-danger mar10">抢答</button> 
 */
.mui-btn-outlined-danger{
	color: rgb(249,60,58);
    background:transparent;
    border:1px solid rgb(249,60,58);
}

/*块级按钮
<button type="button" class="mui-btn mui-btn-danger btn-block">提交</button>
 */
.btn-block{
	display: block;
	width: 100%;
}

/*块级内联*/
.block-inline{
	display: inline-block;
}
/*红色底边框*/
.borBotRed{
	border-bottom: 1px solid rgb(249,60,58);
}
