 /*实心红色按钮
  * 
  * 默认灰色空心  .mui-btn
  <button type="button" class="mui-btn mui-btn-danger mar10">确定</button>
  */
.mui-btn-danger{
	/*border:1px solid rgb(0,226,144);*/
	color: #fff;
    background-color: rgb(249,60,58);
    border:1px solid rgb(249,60,58);
}

/*透明红色边框按钮 颜色相应改变
 <button type="button" class="mui-btn mui-btn-outlined-danger mar10">抢答</button> 
 */
.mui-btn-outlined-danger{
	color: rgb(249,60,58);
    background:transparent;
    border:1px solid rgb(249,60,58);
}

/*块级按钮
<button type="button" class="mui-btn mui-btn-danger btn-block">提交</button>
 */
.btn-block{
	display: block;
	width: 100%;
}
