/*全局样式*/
li{
	list-style: none;
}
.normalSize{
	font-size: 16px !important;
}
.smallSize{
	font-size: 14px !important;
}



/*header部分的样子设置*/
.mui-bar-nav{
	background: #F53C42;
	font-size: 14px;
	height: 50px !important;
}
.mui-bar-nav h1,.mui-bar-nav a{
	color:#FFFFFF;
	line-height: 50px !important;
}
.mui-bar-nav a{
	margin:0 !important;
	padding: 0 !important;
}
.fenlei{
	line-height: 50px;
}

/*导航部分的样式设置*/
#container{
	margin-top: 55px;
}
..bannerwidth{
	height: 80px;
}
.banner{
	height:80px;
}
.swiper-slide-duplicate a img{
	height:80px;
	display: block;
}


