/*交友主页*/
.circleContain{padding: 5px;}
.circleContain .circleBox{margin: 5px 5px;float: left;background: url(../img/makeFriend/friendB.png) no-repeat;background-size: 100% 100%;background-position: left top;padding: 1px;}
.circleImg{width: calc((100vw - 34px)/2);padding-top: 100%;overflow: hidden;position: relative;}
.circleImg img.img1{position: absolute; top: 0;left: 0;width: 100%;border-radius: 3px 3px 0 0;}
.circleName{font-size: ;}
/*tab切换*/
.QAhead{text-align: center;background-color: #f3f3f3;}
.QAhead span{position: relative; display: inline-block;height:38px;line-height: 38px;color: #343434;font-size: 15px;margin: 0 3%;padding: 0 5px;}
.QAhead span.active{color: #f63d41;}
.QAhead span:after { content: ""; width: 0; height: 2px;-webkit-transform: scaleY(.75); background-color: #f63d41; position: absolute; bottom: 0px; left: 50%; }
.QAhead span.active:after { transition: all 0.3s; width: 100% !important; left: 0 !important; }
.listHead{height: 32px;line-height: 32px;font-size: 14px;color: #666;padding: 0 10px;}
.listHead img{width: 25px;height: 25px;margin-right: 4px;}
.listHead span{float: right;color: #999999;line-height: 18px;margin-top: 10px;font-size: 12px;padding: 0 3px;
	background: url(../img/mainHtml/gengduokuang.png) no-repeat;background-size: 100% 100%;/*背景边框*/
	}
.listCon{padding: 10px 0 0 0;}
.listCon p{color: #666;padding: 10px 4px 17px 4px; margin: 0 10px;}
.moreCon{text-align: center;padding: 12px;}
.moreCon span{display: inline-block;padding: 5px 18px;color: #888;
	background: url(../img/mainHtml/gengduokuang.png) no-repeat;background-size: 100% 100%;
}
#listOldDiv{position: relative;}
.listSon{position: absolute;left: -20px;top: 0;width: 100%;}
.middleI{position: absolute;left: 0px !important;top: 0;opacity: 1; z-index: 100; transition-duration: .2s;transition-property:opacity left;transition-timing-function: ease-in-out;}
.leftT{position: absolute;left: -20px !important;top: 0;opacity: 0; z-index: 10;}	
.listHead b{
    float: right;
    margin-top: 4px;
    font-weight: 100;
    padding-right: 6px;
    color: #f63d41;
}	
/*tab切换结束*/

/*交友自定义*/
.QAhead{
	background-color: #fff; 
}

/*交友主页*/
.content0{
	
}
/*交友主页动态模块*/
.dongtai0{background-color: #f3f3f3;padding-top: 12px;padding-bottom: 2px;}
.dongItem{display: flex;margin-top: -10px;}
.DitemL{font-size: 22px; color: #333; padding: 10px; width: 83px; padding-right: 1px; padding-left: 15px;padding-top: 12px; }
.DitemL span{    font-size: 15px; color: #999;
    position: relative;
    top: -5px;}
.DitemR{    flex: 1;
    padding: 12px;
    background: url(../img/makeFriend/jiaoyouyoubian.png) 0 0 no-repeat;
    background-size: contain;
    padding-left: 23px;}
.DitemRin{overflow: hidden;position: relative;background-color: #fff;padding: 8px;background: url(../img/makeFriend/jiaoyoudongtaiobeijing.png) 0 0 no-repeat;background-size: 100% 100%;}
.DitemRin1{width: calc(100vw * 0.22);height: calc(100vw * 0.22);background-size: cover;float: left;}
.DitemRin2{float: left;}
.DitemRin h3{font-size: 14px;color: #888;position: relative;left: 5px;}
.DitemRin p img{width: 13px;margin-left: 10px;}
.DitemRin p{font-size: 12px;color: #999;position: absolute;bottom: 8px;right: 8px;}

/*交友主页 交友 模块*/
.jiaoyou0{background-color: #f3f3f3;padding-top: 10px;padding-bottom: 20px;}
.MFdiv1{background-color: #fff;}
.MFdiv1 h3{color: #555;font-size: 15px;padding: 10px;}
.MFdiv1 h3 span{float: right;font-size: 13px;color: #888;}
.zhaopians, .touxiangs{padding-bottom: 10px;}
.touxiangs{white-space: nowrap;overflow-x: scroll;overflow-y: hidden;}
.zhaopians{padding: 0 5px}
.zhaopians li{float: left;width: calc((100vw - 10px) * 0.25);height: calc((100vw - 10px) * 0.25);padding: 5px;margin-top: -5px;}
.zhaopians li span{display: inline-block;width: 100%;height: 100%;}
.touxiangs li{display: inline-block; text-align: center;padding-left: 10px; padding-bottom: 10px;color: #666;}
.touxiangs li .span1{display: inline-block; width: 55px;height: 55px;border-radius: 50%;background-color: indianred;}
.MFdiv2 h4{font-size: 14px;padding: 15px 0;margin: 0 10px;color: #555;} 
.MFdiv2 h4.h40{padding: 12px 0;} 
.MFdiv2 h4 span{color: #999;display: inline-block;width: 80px;}
.MFdiv2 .label{color: #fd6363;padding: 10px;font-size: 13px;padding-top: 0px;margin-top: -10px;}
.MFdiv2 .label span{background: url(../img/makeFriend/bianqiankuang.png) 0 0 no-repeat;background-size: 100% 100%;margin-right: 10px;
	white-space: nowrap;margin-top: 10px;display: inline-block;padding: 5px;}

