/*公用*/
/* 清浮动 */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1;}
/*首页*/
.onetable{
	margin-bottom: .1rem;
	margin-top: 50px;
}
.onetable table{
	table-layout: fixed;
	width: 100%;
	text-align: center;
	color: #555;
} 
.onetable table img{
	width: 60%;
	margin: .2rem 0;
}
.bor{
	height: 10px;
	background-color: #eee;
}
.activity{
	max-height: 175px;
	overflow: hidden;
}
.act_l{
	float: left;
	width: 40%;
}
.act_l img{
	width: 100%;
}
.act_r{
	float: right;
	width: 60%;
}
.act_r div img{
	width: 100%;
}
.act_b_l, .act_b_r{
	float: left;
	width: 50%;
}

