<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>为民服务-一见钟情详情</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../css/localHost.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/apprentice.css"/> 
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style>
		.goinfl{
			    font-size: 18px;
			    display: block;
			    width: 38%;
			    margin: auto;
			    padding: 8px 0;
			    margin-top: 5%;
			    margin-bottom: 10%;
		}
		.acl{
			font-size: 0.14rem;
		}
		.acl:after{
			margin: 2.5% 0;
			content: '';
			display: block;
			height: 1px;
			background-color: rgba(0,0,0,0.1);
			-webkit-transform: scaleY(.5);
		}
		.acl img{
			width: 6%;
			vertical-align: middle;
		}
		.grayd{  
			font-size: 0.14rem; 
			color: rgba(0,0,0,0.6);
			margin-top: 6%;  
		}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">一键钟情</h1>
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div class="mui-content" id="activity"></div>
		
		<script type="text/html" id="activity-detail">
			<div class="imgBox">
				<img src="<%= objData.picImg %>"/>
			</div>
			<div class="ceremonyContent" style="background-color: white;">
				<article class="xiangqinPara">
					<div class="black" style="margin-top: 5%;"><b><%= objData.title %></b></div>
					<div class="gray"><small><%= objData.joined %>人已参加</small></div>
					<button type="button" onclick="gosub(<%= objData.id %>,<%= objData.fee %>)" class="mui-btn mui-btn-danger mui-btn-block mui-btn-outlined goinfl">要参加</button>
					
					<div class="black acl"><img src="../../img/serveForPeople/actime.png" alt="" /> 活动时间<small class="fr gray"><%= objData.time %></small></div>
					<div class="black acl"><img src="../../img/serveForPeople/mybm.png" alt="" /> 报名时间<small class="fr gray"><%= objData.begin_time %>到<%= objData.end_time %></small></div>
					<div class="black acl"><img src="../../img/serveForPeople/baom.png" alt="" /> 报名费用<small class="fr gray">
						<% if(objData.fee >0){ %>
							￥<%= objData.fee %>
						<% }else{ %>
							免费
						<% } %>
						
					</small></div>
					<div class="black acl"><img src="../../img/serveForPeople/acmap.png" alt="" /> 活动地点<small class="fr gray"><%= objData.site %></small></div>
					<div class="black acl"><img src="../../img/serveForPeople/ban.png" alt="" /> 活动承办方<small class="fr gray"><%= objData.sponsor %></small></div>
					 
					<div class="grayd">活动详情：
						<ul class="listContent">
							<li><%= objData.content %></li>
							<!--<li>14:00相亲活动正式开始，进入游戏互动交友的乐园;</li>
							<li>18:30相亲活动结束，参会人员可享免费晚餐;</li>
							<li>19:30-22:00嘉年华演出;</li>-->
						</ul>
					</div> 
				</article>
			</div> 
		</script>
	</body>
	<script type="text/javascript">
        function gosub(id,fee){
			openview({
					view:'apprenticeSub.html',
//					id:'apprenticeSub',
					extrasobj:{apprenticeId:id,apprenticeFee:fee}
				});
		}
		mui.plusReady(function(){
			
			//铺数据
			plus.nativeUI.showWaiting("加载中...",{width:'100px',height:'80px'});
			var oldToken = plus.storage.getItem('oldToken');
			var activityId = plus.webview.currentWebview().activityId;
//			alert(activityId);
			console.log(oldToken);
			mui.ajax(serverUrl+'/api/localservice/activityinfo',{
				data:{id:activityId},
				dataType:'json',
				type:'post',
				timeout:10000,
				headers:{"token":oldToken},	 
				success:function(data,type,xhr){
//					alert(JSON.stringify(data.data[0]));
					var dateObj={};
		       		data.data[0].time = data.data[0].time.split('T')[0]; 
		       		data.data[0].begin_time = data.data[0].begin_time.split('T')[0]; 
		       		data.data[0].end_time = data.data[0].end_time.split('T')[0]; 
					dateObj.objData=data.data[0];
					mui('#activity')[0].innerHTML = template('activity-detail',dateObj);
					plus.nativeUI.closeWaiting();
					
				},
				error:function(xhr,type,errorThrown){
					alert('响应失败  !');
				}
			});
		});
	</script>
</html>
