<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>跳蚤市场</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		
		<style type="text/css">
			.mui-bar{
				height: 50px;
			}
			.mui-title,.mui-icon{
				line-height: 50px;
			}
			.mui-bar .mui-icon{
				padding: 0;
			}
			.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{
				color: #fff;
			}
			.mui-bar-nav{
				box-shadow: none;
			}
			.mui-icon{
				line-height: 50px;
			}	
			.mui-icon .iconfont{
				font-size: 18px;
			}
			.dealcard, .cinemacard{
				margin-top: 45px;
			}
			.dealcard .dealcard-img img{
				height: 60px;
				overflow: hidden;
			}
		 	.shoucang .iconfont{
				font-size: 18px;
			}
			
			.dealcard .title, .dealcard .price{
				margin-top: 20px;
				font-size: 12px;
			}
			.coupon p{
				margin: 10px 0 3px;
				
			}
			sub{
				bottom: 0;
			}
			#main{
				padding-bottom: 30px;
			}
			#thePlus{
				position: fixed;
				bottom: 10px;
				left: 50%;
				display: block;
				margin-left: -25px;
				font-size: 50px;
				background-color: #f53c42;
				color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 10px #555;
			}
			#upload{ 
				text-align: center;margin: 30px;font-size: 15px;
			}
			#upload img{width: 60px;margin-top: -15px;
			} 
			.branddiv{display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;}
			.dealcard .title{margin-top: 0;}
			.dealcard .coupon span {
			    bottom: 6px;color: #f53c42;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">跳蚤市场</h1>
			<a class="fr shoucang mui-icon" id="theSearch" href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
		</header>	
		<div class="screening">
		    <ul>
		        <li class="Brand">类别</li>
		        <li class="Regional">价格</li>
		        <li class="Sort">个人</li>
		    </ul>
		</div>
		<div class="Category-eject">
		    <ul class="Category-w" id="Categorytw">
		        <li onclick="Loading(1,7,'','','','','price')">全部</li>
		        <li onclick="Loading(1,7,5,'','','','price');">电脑</li>
		        <li onclick="Loading(1,7,6,'','','','price');">手机</li>
		        <li onclick="Loading(1,7,10,'','','','price');">童装</li>
		    </ul>
		</div>
		<div class="grade-eject">
		    <ul class="grade-w" id="gradew">
		        <li onclick="Loading(1,7,'','','','','price')">全部</li>
		        <li onclick="Loading(1,7,'','',100,'','price');">100元以下</li>
		        <li onclick="Loading(1,7,'',100,1000,'','price');">100-1000元</li>
		        <li onclick="Loading(1,7,'',1000,5000,'','price');">1000-5000元</li>
		    </ul>
		</div>
		<!-- End grade -->
		<!-- Category -->
		<div class="Sort-eject Sort-height">
		    <ul class="Sort-Sort" id="Sort-Sort">
		        <li onclick="Loading(1,7,'','','','','price')">全部</li>
		        <li onclick="Loading(1,7,'','','',1,'price')">个人</li>
		        <li onclick="Loading(1,7,'','','',0,'price')">商家</li>
		    </ul>
		</div>
		<!-- End Category -->
		<div id="container">		
			<div id="main">
				<section class="dealcard-waimai">
					<dl class="dealcard" id="infolistdiv">
						<!--<dd class="page-link">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img src="../../img/theList/2edmarket.jpg" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand">九成新手机</div>
									<div class="title ">
										真机实拍/180天质保/顺丰包邮
									</div>
									<div class="coupon ">
										<p><sub>￥</sub>2000<sub>起</sub></p>
										<span>已售19</span>
									</div>
								</div>
							</a>
						</dd>-->
					</dl>
					<script type="text/html" id="infolist">
						<% for(var i=0; i<list.length; i++){%>
							<dd class="page-link" onclick="opendetails(<%= list[i].id%>)"> 
								<a href="javascript:;">
									<div class="dealcard-img imgbox"> <img src="<%= list[i].list_pic%>" alt=""> </div>
									<div class="dealcard-block-right">
										<div class="brand branddiv"><%= list[i].title%></div>
										<div class="title ">
											<%= list[i].address%>
										</div>
										<div class="coupon ">
											<p>电话: <%= list[i].phone%></p>
											<span><sub>￥</sub><%= list[i].price%><sub>起</sub></span>
										</div>
									</div>
								</a>
							</dd>
						<%}%>	 
					</script>
				</section>
				<div class="upload text-center text-xs gray" id="upload"></div>
			</div>
		</div>
		
		<!--发布-->
		<a href="javascript:;"><span class="mui-icon mui-icon-plus" id="thePlus"></span></a>
	</body>
	<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>
	<script src="../../js/other.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	Loading(1,7,'','','','','price');//加载数据,包括上滑加载
	//添加刷新监听
	document.addEventListener('refresh', function() {
		Loading(1,7,'','','','','price');//加载数据,包括上滑加载
		console.log('刷新数据');
	})
	//加载方法
	function Loading(gin1,gin2,gin3,gin4,gin44,gin5,gin6){
		document.getElementById("infolistdiv").innerHTML = '';
		$('.Category-eject').removeClass('grade-w-roll');
		$('.Sort-eject').removeClass('grade-w-roll');
		$('.grade-eject').removeClass('grade-w-roll');
		mui.plusReady(function(){
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		var oldtoken = plus.storage.getItem('oldToken');
		mui.ajax(serverUrl+'/api/localservice/usedmarketlist',{ 									
			data:{currentPage:gin1,
				numsPerPage:gin2,
				type:gin3,
				price_Starting:gin4,
				price_point:gin44,
				is_business:gin5,
				orderType:gin6},
			dataType:'json',//服务器返回json格式数据
			type:'post',//HTTP请求类型 
			timeout:10000,//超时时间设置为10秒；	
			headers:{"token":oldtoken}, 
			success:function(data){
				console.log(JSON.stringify(data));
				if(data.errno == 0){
					console.log(data);
					var dataobj = {};
					dataobj.list = data.data.data; 
					//获取并渲染用户信息
					console.log(data.data.data);
					var html=template("infolist",dataobj);
					document.getElementById("infolistdiv").innerHTML += html;
					if(data.data.totalPages){
						mui("#upload")[0].innerHTML = " ";
					}else{
						mui("#upload")[0].innerHTML = "没有数据了 ";
					}
					
					//滚动到底部加载
					$(window).scroll(function(){
					　　var scrollTop = $(this).scrollTop();
					　　var scrollHeight = $(document).height();
					　　var windowHeight = $(this).height();
					　　if(scrollTop + windowHeight == scrollHeight){
						//加载下一部分
						var nowpage = ++gin1;
						if(nowpage<=data.data.totalPages){//当前页小于等于总页数时请求下一页
							mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
							console.log('可以请求数据');
							mui.ajax(serverUrl+'/api/localservice/localservice',{ 									
								data:{currentPage:gin1,
									numsPerPage:gin2,
									type:gin3,
									price_Starting:gin4,
									price_point:gin44,
									is_business:gin5,
									orderType:gin6}, 
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型 
								timeout:10000,//超时时间设置为10秒；	
								headers:{"token":oldtoken}, 
								success:function(data){
									if(data.errno == 0){
										var dataobj = {};
										dataobj.list = data.data.data; 
										//获取并渲染用户信息
										var html=template("infolist",dataobj);
										document.getElementById("infolistdiv").innerHTML += html;
										mui("#upload")[0].innerHTML = "上滑加载 ";
									}else{
										--gin1;//请求失败,继续请求当前页
										mui.toast("获取数据失败");
									}
									plus.nativeUI.closeWaiting();//关闭等待框
								},
								error:function(xhr,type,errorThrown){
									--gin1;//请求失败,继续请求当前页
									mui.toast("当前网络不好请重试");
								}
							});
						}else{
							mui("#upload")[0].innerHTML = "没有数据了";
						}
						//加载下一部分结束
						　　}
					});
				}else{
					mui.toast("获取数据失败");
				}
				plus.nativeUI.closeWaiting();//关闭等待框
			},
			error:function(xhr,type,errorThrown){
				plus.nativeUI.closeWaiting();//关闭等待框
				mui.toast("当前网络不好请重试");
			}
		});
	});	
	}
		
	
	
//发布按钮
mui('#thePlus')[0].onclick = function(){
	if(plus.storage.getItem('myToken')){ 
		openview({
		 	view:'new_ershou.html',  
		})
	}else{//没登陆直接打开登录页面
		mui.toast('请登录');
		openview({
			view:'../login.html'
		});
	}
}
//跳转详情
function opendetails(id){
	openview({
		view:'Fleadetails.html',
		extrasobj:{name:id}
	})
}
</script>
</html>