<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>房产列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			.mui-bar{height: 50px;
			}
			.mui-title,.mui-icon{line-height: 50px;
			}
			.mui-bar .mui-icon{padding: 0;
			}
			.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{color: #fff;
			}
			.mui-bar-nav{box-shadow: none;
			}
			.mui-icon{line-height: 50px;
			}	
			.mui-icon .iconfont{font-size: 18px;
			}
			.dealcard, .cinemacard{margin-top: 50px;
			}
			.dealcard .dealcard-img img{height: 60px;overflow: hidden;
			}
			#upload{text-align: center;margin: 30px;font-size: 15px;
			}
			#upload img{width: 60px;margin-top: -15px;}
			.dealcard .title span{left: 0;}
			.dealcard {
			    margin-top: 45px;
			}
			#thePlus{
				position: fixed;
				bottom: 10px;
				left: 50%;
				display: block;
				margin-left: -25px;
				font-size: 50px;
				background-color: #f53c42;
				color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 10px #555;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">房产列表</h1>
			<a class="fr mui-icon" id="theSearch" href="theSearch.html"><i class="iconfont icon-sousuo"></i></a>
		</header>	
		<div class="screening">
		    <ul>
		        <li class="Brand">户型</li>
		        <li class="Regional">价格</li>
		        <li class="Sort">面积</li>
		    </ul>
		</div>
		<div class="Category-eject">
		    <ul class="Category-w" id="Categorytw">
		        <li onclick="Loading(1,7,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,7,'','2室2厅','','','',1000,'price');">2室2厅</li>
		        <li onclick="Loading(1,7,'','2室1厅','','','',1000,'price');">2室1厅</li>
		        <li onclick="Loading(1,7,'','1室2厅','','','',1000,'price');">1室2厅</li>  
		    </ul>
		</div>
		<div class="grade-eject">
		    <ul class="grade-w" id="gradew">
		        <li onclick="Loading(1,7,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,7,'','',100000,400000,'','','price');">100000-400000</li>
		        <li onclick="Loading(1,7,'','',400000,1000000,'','','price');">400000-1000000</li>
		        <li onclick="Loading(1,7,'','',1000000,10000000,'','','price');">1000000-10000000</li>
		    </ul>
		</div>
		<div class="Sort-eject Sort-height">
		    <ul class="Sort-Sort" id="Sort-Sort">
		        <li onclick="Loading(1,7,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,7,'','','','',20,45,'price');">20-45</li>
		        <li onclick="Loading(1,7,'','','','',45,70,'price');">45-70</li>
		        <li onclick="Loading(1,7,'','','','',70,110,'price');">70-110</li>
		    </ul>
		</div>
		<div id="container">		
			<div id="main">
				<section class="dealcard-waimai">
					<dl class="dealcard" id="buildlistdiv">
						<!--<dd class="page-link">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img src="../../img/theList/build-detail.jpg" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand">三室一厅</div>
									<div class="title ">
										<span class="star">
											<i class="full"></i>
											<i class="full"></i>
											<i class="full"></i>
											<i class="half"></i>
											<i></i>
										</span>
									</div>
									<div class="price"> 
										<span> 24小时 服务诚信商家</span>
									</div>
								</div>
							</a>
						</dd>-->
					</dl>
					<script type="text/html" id="buildlist">
						<% for(var i=0; i<list.length; i++){%>
							<dd class="page-link" onclick="opendetails(<%= list[i].house_id%>)">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img src="<%= list[i].list_pic%>" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand"><%= list[i].name%></div>
									<div class="title ">
										<span>小区: <%= list[i].quarters%></span>
									</div>
									<div class="price"> 
										<span> <%= list[i].area_address%></span>
									</div>
								</div>
							</a>
						</dd>
						<%}%>	
					</script>
				</section>
				<div class="upload text-center text-xs gray" id="upload"></div>
			</div>
		</div>
		<!--发布-->
		<a href="javascript:;"><span class="mui-icon mui-icon-plus" id="thePlus"></span></a>
	</body>
	<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>
	<script src="../../js/other.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
	//添加刷新监听
	document.addEventListener('refresh', function() {
		Loading(1,7,'','','','','',1000,'price');//加载数据,包括上滑加载  
		console.log('刷新数据');
	})
	Loading(1,7,'','','','','',1000,'price');//加载数据,包括上滑加载  
	//加载方法
	function Loading(gin1,gin2,gin3,gin4,gin5,gin55,gin6,gin66,gin7){
		$('.Category-eject').removeClass('grade-w-roll');
		$('.Sort-eject').removeClass('grade-w-roll');
		$('.grade-eject').removeClass('grade-w-roll');
		document.getElementById("buildlistdiv").innerHTML = '';
		mui.plusReady(function(){
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		var oldtoken = plus.storage.getItem('oldToken');	
		mui.ajax(serverUrl+'/api/localservice/houselist',{ 									
			data:{currentPage:gin1,
				  numsPerPage:gin2,
				  house_type:gin3,
				  house_layout:gin4,
				  price_Starting:gin5,
				  price_point:gin55,
				  house_area_Starting:gin6,
				  house_area_point:gin66,
				  orderType:gin7,
				  descOrasc:''}, 
			dataType:'json',//服务器返回json格式数据
			type:'post',//HTTP请求类型 
			timeout:10000,//超时时间设置为10秒；	
			headers:{"token":oldtoken}, 
			success:function(data){
				if(data.errno == 0){
					console.log(data);
					var dataobj = {};
					dataobj.list = data.data.data; 
					//获取并渲染用户信息
					var html=template("buildlist",dataobj);
					document.getElementById("buildlistdiv").innerHTML += html;
					if(data.data.totalPages){
						mui("#upload")[0].innerHTML = " ";
					}else{
						mui("#upload")[0].innerHTML = "没有数据了 ";
					}
					
					//滚动到底部加载
					$(window).scroll(function(){
					　　var scrollTop = $(this).scrollTop();
					　　var scrollHeight = $(document).height();
					　　var windowHeight = $(this).height();
					　　if(scrollTop + windowHeight == scrollHeight){
						//加载下一部分
						var nowpage = ++gin1;
						if(nowpage<=data.data.totalPages){//当前页小于等于总页数时请求下一页
							mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
							console.log('可以请求数据');
							mui.ajax(serverUrl+'/api/localservice/houselist',{ 									
								data:{currentPage:gin1,
								  numsPerPage:gin2,
								  house_type:gin3,
								  house_layout:gin4,
								  price_Starting:gin5,
								  price_point:gin55,
								  house_area_Starting:gin6,
								  house_area_point:gin66,
								  orderType:gin7,
								  descOrasc:''},  
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型 
								timeout:10000,//超时时间设置为10秒；	
								headers:{"token":oldtoken}, 
								success:function(data){
									if(data.errno == 0){
										var dataobj = {};
										dataobj.list = data.data.data; 
										//获取并渲染用户信息
										var html=template("buildlist",dataobj);
										document.getElementById("buildlistdiv").innerHTML += html;
										mui("#upload")[0].innerHTML = "上滑加载 ";
									}else{
										--gin1;//请求失败,继续请求当前页
										mui.toast("获取数据失败");
									}
									plus.nativeUI.closeWaiting();//关闭等待框
								},
								error:function(xhr,type,errorThrown){
									--gin1;//请求失败,继续请求当前页
									mui.toast("当前网络不好请重试");
								}
							});
						}else{
							mui("#upload")[0].innerHTML = "没有数据了";
						}
						//加载下一部分结束
							　　}
						});
				}else{
					mui.toast("获取数据失败");
				}
				plus.nativeUI.closeWaiting();//关闭等待框
			},
			error:function(xhr,type,errorThrown){
				plus.nativeUI.closeWaiting();//关闭等待框
				mui.toast("当前网络不好请重试");
			}
		});
		});
	}

	
	
	
	
	
	
	
//发布按钮
mui('#thePlus')[0].onclick = function(){
	if(plus.storage.getItem('myToken')){ 
		openview({
		 	view:'new_house.html',  
		})
	}else{//没登陆直接打开登录页面
		mui.toast('请登录');
		openview({
			view:'../login.html'
		});
	}
}
//跳转详情
function opendetails(id){
	openview({
		view:'build-detail.html', 
		extrasobj:{name:id}
	})
}
	</script>
</html>