<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>房产列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			/*.dealcard, .cinemacard{margin-top: 50px;
			}*/
			.dealcard .dealcard-img img{height: 60px;overflow: hidden;
			}
			.dealcard .title span{left: 0;}
			#thePlus{
				position: fixed;
				bottom: 10px;
				left: 50%;
				display: block;
				margin-left: -25px;
				font-size: 50px;
				background-color: #f53c42;
				color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 10px #555;
			}
			.imgbox{background: none !important;}
			.dealcard dd{margin-bottom: 0;padding: 10px 15px;padding-bottom: 0;}
			.dealcard dd{border: none;}
			.dealcard dd:last-child:after{
				height: 0px;
			} 
			.dealcard dd:after{
				content: '';
				display: block;
				height: 1px;
				background-color: rgba(0,0,0,0.1);
				-webkit-transform: scaleY(.5);
			}
			.dealcard dd a{padding-bottom: 10px;}
			div.screening>ul{border: none;}
			div.screening>ul>li{border-left: solid 1px rgba(0,0,0,0.1);}
			#thePlus2{font-size: 16px;margin-top: 1px;}
			.typespan {
			        border: 1px solid #f53c42;
				    border-radius: 5px;
				    font-size: 9px;
				    padding: 1px 2px;
				    color: #f53c42;
				    font-weight: 100;
				    display: inline-block;
				    float: right;
				    margin-top: 5px;
				    margin-right: 3px;
			}
			.dealcard .brand {
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">房产列表</h1>
			<a class="fr mui-icon" id="thePlus2">发布</a>
		</header>
		
			
		<div class="screening" id="screeningdiv" style="top: 50px;">
		    <ul>
		        <li class="Brand">户型</li>
		        <li class="Regional">价格</li>
		        <li class="Sort">面积</li>
		    </ul>
		</div>
		
		
		<div class="Category-eject">
		    <ul class="Category-w" id="Categorytw">
		        <li onclick="Loading(1,10,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,10,'','2室2厅','','','',1000,'price');">2室2厅</li>
		        <li onclick="Loading(1,10,'','2室1厅','','','',1000,'price');">2室1厅</li>
		        <li onclick="Loading(1,10,'','1室2厅','','','',1000,'price');">1室2厅</li>  
		    </ul>
		</div>
		<div class="grade-eject">
		    <ul class="grade-w" id="gradew">
		        <li onclick="Loading(1,10,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,10,'','',100000,400000,'','','price');">100000-400000</li>
		        <li onclick="Loading(1,10,'','',400000,1000000,'','','price');">400000-1000000</li>
		        <li onclick="Loading(1,10,'','',1000000,10000000,'','','price');">1000000-10000000</li>
		    </ul>
		</div>
		<div class="Sort-eject Sort-height">
		    <ul class="Sort-Sort" id="Sort-Sort">
		        <li onclick="Loading(1,10,'','','','','',1000,'price');">全部</li>
		        <li onclick="Loading(1,10,'','','','',20,45,'price');">20-45</li>
		        <li onclick="Loading(1,10,'','','','',45,70,'price');">45-70</li>
		        <li onclick="Loading(1,10,'','','','',70,110,'price');">70-110</li>
		    </ul>
		</div>
		<script src="../../js/statusBar.js"></script>
		<div id="container">		
			<div id="main">
				<section class="dealcard-waimai">
					<dl class="dealcard" id="buildlistdiv"></dl>
					<script type="text/html" id="buildlist">
						<% for(var i=0; i<list.length; i++){%>
							<dd class="page-link" onclick="opendetails(<%= list[i].house_id%>)">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img src="<%= list[i].list_pic%>" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand"><%= list[i].name%></div>
									<div class="title ">
										<span>小区: <%= list[i].quarters%></span>
									</div>
									<div class="price"> 
										<span> <%= list[i].area_address%></span>
										<% if(list[i].isbusiness == 1){%> 
											<b class="typespan" id="">商家 </b>
										<% }else{%>
											<b class="typespan" id="">个人</b>
										<% }%>
									</div>
								</div>
							</a>
						</dd>
						<%}%>	
					</script>
				</section>
				<div class="upload text-center text-xs gray" id="upload"></div>
				
				<div id="nulldiv" style="text-align:center;margin-top: 20%;font-size: 14px;color: #999;display: none;">
					<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
					<br />
					没有相关信息
				</div>
			</div>
		</div>
		<!--发布-->
		<!--<a href="javascript:;"><span class="mui-icon mui-icon-plus" id="thePlus"></span></a>-->
	</body>
	<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>
	<script src="../../js/other.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
	var Spagenum = 2;//实到页数
	var Ypagenum = 1;//应到页数 
	//添加刷新监听
	document.addEventListener('refresh', function() {
		Loading(1,10,'','','','','',1000,'price');//加载数据,包括上滑加载  
		console.log('刷新数据');
	})
	Loading(1,10,'','','','','',1000,'price');//加载数据,包括上滑加载  
	//加载方法
	function Loading(gin1,gin2,gin3,gin4,gin5,gin55,gin6,gin66,gin7){
		$('.Category-eject').removeClass('grade-w-roll');
		$('.Sort-eject').removeClass('grade-w-roll');
		$('.grade-eject').removeClass('grade-w-roll');
		document.getElementById("buildlistdiv").innerHTML = '';
		mui('#nulldiv')[0].style.display = 'none';
		mui.plusReady(function(){
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		var oldtoken = plus.storage.getItem('oldToken');	
		mui.ajax(serverUrl+'/api/localservice/houselist',{ 									
			data:{currentPage:gin1,
				  numsPerPage:gin2,
				  house_type:gin3,
				  house_layout:gin4,
				  price_Starting:gin5,
				  price_point:gin55,
				  house_area_Starting:gin6,
				  house_area_point:gin66,
				  orderType:gin7,
				  descOrasc:''}, 
			dataType:'json',//服务器返回json格式数据
			type:'post',//HTTP请求类型 
			timeout:10000,//超时时间设置为10秒；	
			headers:{"token":oldtoken}, 
			success:function(data){
				if(data.errno == 0){
					console.log(data);
					var dataobj = {};
					mui.each(data.data.data,function (index,ele) {
						data.data.data[index].list_pic = serverimgUrl + eval("("+ele.list_pic+")")[0].picImg;
					})
					dataobj.list = data.data.data; 
					//获取并渲染用户信息
					var html=template("buildlist",dataobj);
					document.getElementById("buildlistdiv").innerHTML += html;
					if(data.data.totalPages){
						mui("#upload")[0].innerHTML = " ";
					}else{
						mui("#upload")[0].innerHTML = ""; 
						mui('#nulldiv')[0].style.display = 'block';
					}
					
					//滚动到底部加载
					$(window).scroll(function(){
					　　var scrollTop = $(this).scrollTop();
					　　var scrollHeight = $(document).height();
					　　var windowHeight = $(this).height();
					　　if(scrollTop + windowHeight == scrollHeight){
						if(Spagenum<=data.data.totalPages && Spagenum==Ypagenum+1){//当前页小于等于总页数时请求下一页
							mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
							Ypagenum++;//满足加载情况,应到页数+1
							console.log('发起请求,实到'+Spagenum+'页');									
							console.log('发起请求,应到'+Ypagenum+'页');
							mui.ajax(serverUrl+'/api/localservice/houselist',{ 									
								data:{currentPage:Spagenum,
								  numsPerPage:gin2,
								  house_type:gin3, 
								  house_layout:gin4,
								  price_Starting:gin5,
								  price_point:gin55,
								  house_area_Starting:gin6,
								  house_area_point:gin66,
								  orderType:gin7,
								  descOrasc:''},  
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型 
								timeout:10000,//超时时间设置为10秒；	
								headers:{"token":oldtoken}, 
								success:function(data){
									if(data.errno == 0){
										var dataobj = {};
										mui.each(data.data.data,function (index,ele) {
											data.data.data[index].list_pic = serverimgUrl + eval("("+ele.list_pic+")")[0].picImg;
										})
										dataobj.list = data.data.data; 
										//获取并渲染用户信息
										var html=template("buildlist",dataobj);
										document.getElementById("buildlistdiv").innerHTML += html;
									}
									mui("#upload")[0].innerHTML = " ";
									Spagenum++;//加载成功,当前页+1
									console.log('成功+1,实到'+Spagenum);
									console.log('成功+1,应到'+Spagenum);
								},
								error:function(xhr,type,errorThrown){
									Ypagenum--;//失败是应到-1
									mui.toast("当前网络不好请重试");
									mui("#upload")[0].innerHTML = "";
								}
							});
						}else if(Spagenum == data.data.totalPages+1){//当前页不小于等于总页数时请求下一页
							mui("#upload")[0].innerHTML = "到底了";
						}
					　　}
					});//加载下一部分结束
				}else{
					mui("#upload")[0].innerHTML = ""; 
					mui('#nulldiv')[0].style.display = 'block';
				}
				plus.nativeUI.closeWaiting();//关闭等待框
			},
			error:function(xhr,type,errorThrown){
				plus.nativeUI.closeWaiting();//关闭等待框
				mui("#upload")[0].innerHTML = ""; 
				mui('#nulldiv')[0].style.display = 'block'; 
			}
		});
		});
	}

	
	
	
	
	
	
	
//发布按钮
mui('#thePlus2')[0].onclick = function(){
	if(plus.storage.getItem('myToken')){ 
		openview({
		 	view:'new_house.html',  
		})
	}else{//没登陆直接打开登录页面
		mui.toast('请登录');
		openview({
			view:'../login.html'
		});
	}
}
//跳转详情
function opendetails(id){
	openview({
		view:'build-detail.html', 
		extrasobj:{name:id}
	})
}
	</script>
</html>