<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>本地生活</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/localHost.css"/>

		<style type="text/css">
			.sy_limit_buy {border-bottom: none;}
			.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{color: #fff;}
			.mui-bar .mui-icon{font-size: 24px !important;}
			.mui-bar-nav{box-shadow: none;}
			.mui-icon{line-height: 50px;}	
			.mui-icon .iconfont{font-size: 18px;}
			#scroller{padding-top: 5px;}
			.tuangouwidth{height: 195px;}
			.icon-list .icon{margin-bottom: 10px;}
			.icon-list .icon-circle{width: 50px;height: 50px;margin-bottom: 5px;}
			.swiper-pagination-bullet-active{background-color: rgba(245,60,66,0.6);}
			.sy_limit_buy .locatLabel_switch .box{width: 29% !important;}
			.mui-table-view-cell p{font-size: 12px;line-height: 16px;margin-top: 7px;}
			.overyou{width: auto !important;overflow-x: scroll !important;}
			.txt_center{color: #555;}
			.sy_title{border: none;padding-top: 0;padding-left: 0;} 
			.caini{border-bottom: 1px solid rgba(0,0,0,0.1);padding-top: 5px;}
			.left{border-left: 0.03rem solid #f53c42;padding-left: 10px;}
			.slider,.mb10{margin-bottom: 0;}
			.mui-table-view:before{display: none;}
			.mui-table-view li{padding-left: 0;padding-right: 10px;}
			.mui-table-view-cell:after{left: 0;}
			.icon-list .icon-circle{border-radius: 50%;}
			#more{background-color:#fff;text-align: center;height: 50px;line-height: 30px;
			font-size: 14px; }
			#more img{margin-left:5px;width: 16px;margin-top: -3px;}
			.null{text-align: center;}
			.null img{margin-top: 7%;width: 30%;margin-bottom: 3%;}
			.icon-list .icon-circle {
			    width:58px;
			    height: 58px;
			    margin-bottom: 5px;
			}
		</style>    
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">本地生活</h1>
		    <!--<a class="fr shoucang mui-icon mui-icon-bars" id="theSearch" href="javascript:;"></a>-->
		</header>
		<div id="container">		
			<div id="main">
				<div id="scroller">			
					<section class="slider">
						<div class="swiper-container swiper-container2">
							<div class="swiper-wrapper tuangouwidth">
								<div class="swiper-slide">
									<ul class="icon-list" id="columndiv"></ul>
									<!--有数据显示-->
									<script type="text/html" id="column">
										<% for(var i=0; i<list.length; i++){%>
											<li class="icon">
												<a class="<%= classnames[i]%>">
													<span class="icon-circle bluegray">
														<img src="<%= myurl%><%= list[i].icon%>">
													</span>
													<span class="icon-desc"><%= list[i].name%></span>
												</a>
											</li>
										<% }%>	
									</script>
								</div>
								<div class="swiper-slide swiper_part2" >
									<ul class="icon-list" id="columndiv2">
										<!--没有数据显示-->
										<img src="../../img/nullinfo.svg">
										<p>没有了</p>	
									</ul>
									<!--有数据显示-->
									<script type="text/html" id="column2">
										<% for(var i=8; i<list.length; i++){%>
											<li class="icon">
												<a class="supermarket">
													<span class="icon-circle bluegray">
														<img src="../../img/localLife/chaoshi.svg">
													</span>
													<span class="icon-desc">超市比价</span>
												</a>
											</li>
										<% }%>	
									</script>
								</div>
							</div>
							<div class="swiper-pagination swiper-pagination2 diandian">
							</div>
						</div>
					</section>
				</div>
							
				<div id="index" class="page-center-box">
					<div>				
						<!--猜你喜欢-->
						<div class="sy_limit_buy mb10 caini">
							<div class="sy_title">
							<span class="left">猜你喜欢&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<a href="remen.html" class="gray smallSize mui-pull-right">更多 ></a>
						</div>
							<div class="overyou locatLabel_switch swiper-container5 swiper-container-horizontal swiper-container-free-mode swiper-container-android">
								<!--广告数据-->
								<div class="swiper-wrapper" id="Advdiv"></div> 
								<script type="text/html" id="Adv">
									<% for(var i=0; i<list.length; i++){%>
										<div class="box swiper-slide">
											<a href="#">
												<img src="<%= list[i].pic%>" width="" height="" onclick="fun1()">
												<p class="txt_center overflow_clear"><%= list[i].titlt%></p>
											</a>
										</div>
									<% }%>	
								</script>
								
							</div>
	
						</div>
						<!--首页限时抢购结束-->
						<!--热门推荐 -->	
						<div class="jinengxueyuan">
							<div class="sy_limit_buy mb10">
								<div class="sy_title">
								<span class="left">热门推荐&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<!--<a  class="gray smallSize mui-pull-right">更多 &gt;</a>-->
							</div>
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a href="javascript:;">
										<img class="mui-media-object mui-pull-left" src="../../img/localLife/baomuy.jpg">
										<div class="mui-media-body">
											保姆月嫂
											<p class='mui-wrap'>你还在为繁琐的家务担忧吗？保姆月嫂来帮你，一个电话全搞定！</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="javascript:;">
										<img class="mui-media-object mui-pull-left" src="../../img/localLife/fangchanz.jpg">
										<div class="mui-media-body">
											房产咨询
											<p class='mui-wrap'>天大地大，何处是家。房产咨询，还你一个温馨舒适的家。</p>
										</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media">
									<a href="javascript:;">
										<img class="mui-media-object mui-pull-left" src="../../img/localLife/kuaidis.jpg">
										<div class="mui-media-body">
											快递上门
											<p class='mui-wrap'>总是担心路途遥远时间错过而不能及时拿到心爱的包裹吗？快递到家解您后顾之忧！</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div id="more">
							更多推荐 <img src="../../img/more.svg"/> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/swiper.min.js" type="text/javascript" ></script>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	<script> 
		//滑动栏目的轮播
		var mySwiper = new Swiper('.swiper-container',{
			pagination : '.swiper-pagination'
		});
		
		mui.plusReady(function(){
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});	
		var oldtoken = plus.storage.getItem('oldToken');
			//栏目数据
			mui.ajax(serverUrl+'/api/localservice/localservicecates',{
				type:'post',
				timeout:10000,
				headers:{"token":oldtoken},	              				
				success:function(data){
					//alert(mytoken);
					console.log('获取栏目返回'+JSON.stringify(data));
					if(data.errno == 0){ 
						var objdata = {};
						objdata.list = data.data;
						objdata.classnames = ['repair','cleaning','babysister','house','tiaozao','openclock','express','supermarket']
						objdata.myurl = serverimgUrl;
//						console.log(objdata.list);
						var html = template("column",objdata);
						document.getElementById("columndiv").innerHTML=html;
						if(data.data.length > 8){//显示下一轮数据
							var html2 = template("column2",objdata);
							document.getElementById("columndiv2").innerHTML=html2; 
						}else{
							mui('#columndiv2')[0].className = 'null';
							mui('.diandian')[0].style.display = 'none';
						}
						
						plus.nativeUI.closeWaiting();
						//添加监听
						Monitor();
					}else{
						mui.toast('获取用户信息失败');
						plus.nativeUI.closeWaiting();
						console.log(data.errmsg);
						mui('#columndiv2')[0].className = 'null';
						mui('.diandian')[0].style.display = 'none';
					}
				},
				error:function(xhr,type,errorThrown){
					plus.nativeUI.closeWaiting();
					mui('#columndiv2')[0].className = 'null';
					mui('.diandian')[0].style.display = 'none';
					mui.toast('响应失败  !');
				}
			});
			//广告数据
			mui.ajax(serverUrl+'/api/localservice/localservicead',{
				type:'post',
				timeout:10000,
				headers:{"token":oldtoken},	              				
				success:function(data){
					//alert(mytoken);
					console.log('获取栏目返回'+JSON.stringify(data));
					if(data.errno == 0){ 
						var objdata = {};
						objdata.list = data.data;
//						console.log(objdata.list);
						var html = template("Adv",objdata);
						document.getElementById("Advdiv").innerHTML=html;
						plus.nativeUI.closeWaiting();
					}else{
						mui.toast('获取用户信息失败');
						plus.nativeUI.closeWaiting();
						console.log(data.errmsg);
					}
				},
				error:function(xhr,type,errorThrown){
					plus.nativeUI.closeWaiting();
					mui.toast('响应失败  !');
				}
			});
		})//plusready
		Monitor();
		function Monitor(){
			//打开维修页面
			mui('.repair')[0].addEventListener('tap',function(){
				openview({ 
					view:'theList.html',
					extrasobj:{name:'Repair'}
				})
			});
			//打开保洁页面
			mui('.cleaning')[0].addEventListener('tap',function(){
				openview({ 
					view:'theList.html',
					extrasobj:{name:'Clean'}
				})
			});
			//打开保姆月嫂页面
			mui('.babysister')[0].addEventListener('tap',function(){
				openview({ 
					view:'theList.html',
					extrasobj:{name:'Babysister'}
				})
			});
			//打开开锁页面
			mui('.openclock')[0].addEventListener('tap',function(){
				openview({ 
					view:'theList.html',
					extrasobj:{name:'Openclock'}
				})
			});
			
			//打开房产资讯页面
			mui('.house')[0].addEventListener('tap',function(){
				openview({ 
					view:'buildList.html',
				})
			});
			//打开跳蚤市场页面
			mui('.tiaozao')[0].addEventListener('tap',function(){
				openview({ 
					view:'2edMarket.html',
				})
			});
			//打开快递上门页面
			mui('.express')[0].addEventListener('tap',function(){
				openview({ 
					view:'deliveryCenter.html',
				})
			});
			//打开超市比价页面
			mui('.supermarket')[0].addEventListener('tap',function(){
				openview({ 
					view:'marketPrice.html',
				})
			});
		}
		//打开律师咨询页面
		mui('.laywer')[0].addEventListener('tap',function(){
			alert(1);
			openview({ 
				view:'lawyerList.html',
			})
		});
		//打开更多的页面
		mui('.morepart')[0].addEventListener('tap',function(){
			openview({ 
				view:'../jindaikaifa.html',
			})
		});
		
	</script>
</html>