<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>维修(保洁..)列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<link href="../../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		
		<style type="text/css">
			.mui-bar{height: 50px;
			}
			.mui-title,.mui-icon{line-height: 50px;
			}
			.mui-bar .mui-icon{padding: 0;
			}
			.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{color: #fff;
			}
			.mui-bar-nav{box-shadow: none;
			}
			.mui-icon{line-height: 50px;
			}	
			.mui-icon .iconfont{font-size: 18px;
			}
			#container{margin-top: 53px;
			}
			.dealcard .dealcard-img img{height: 60px;
				overflow: hidden;
			}
			.dealcard .dealcard-img{
				height: auto!important;
			}
			.dealcard-waimai {padding-top: 15px;
			}
			#upload{ 
				text-align: center;margin-bottom: 30px;font-size: 15px;
			}
			#upload img{width: 60px;margin-top: -15px;
			}
			.dealcard-waimai {margin-bottom: 20px;
			}
			.dealcard .title span{left: 0;}
			#thePlus{
				position: fixed;
				bottom: 10px;
				left: 50%;
				display: block;
				margin-left: -25px;
				font-size: 50px;
				background-color: #f53c42;
				color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 10px #555;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title" id="headtitle"></h1>
			<!--<a class="fr mui-icon" id="theSearch" href="theSearch.html"><i class="iconfont icon-sousuo"></i></a>-->
		</header>	
		
		<div id="container">		
			<div id="main">
				<section class="dealcard-waimai">
					<dl class="dealcard" id="infolistdiv"></dl>
					<script type="text/html" id="infolist">
						<% for(var i=0; i<list.length; i++){%>
							<dd class="page-link" onclick="opendetails(<%= list[i].id%>)">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img src="<%= list[i].logo%>" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand"><%= list[i].name%></div>
									<div class="title ">
										<span>服务时间: <%= list[i].open_time%></span>
										<!--<span class="star">
											<i class="full"></i>
											<i class="full"></i>
											<i class="full"></i>
											<i class="half"></i>
											<i></i>
										</span>-->
									</div>
									<div class="price"> 
										<span> <%= list[i].address%></span>
									</div>
								</div>
							</a>
						</dd>
						<%}%>	
					</script> 
				</section>
				<div class="upload text-center text-xs gray" id="upload"></div>
			</div>
		</div>
		<!--发布-->
		<a href="javascript:;"><span class="mui-icon mui-icon-plus" id="thePlus"></span></a>
	</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/app.js"></script>	
<script src="../../js/jquery.min.js"></script>	
<script type="text/javascript">
(function(){
	mui.plusReady(function(){
		//获取上个页面传值
		var nowwebname = plus.webview.currentWebview().name;//当前webview对象name属性
		var headtitle = document.getElementById('headtitle');
		var oldtoken = plus.storage.getItem('oldToken');
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		//添加刷新监听
		document.addEventListener('refresh', function() {
			reload();//加载数据,包括上滑加载
			console.log('刷新数据');
		})
		reload();
		function reload(){
			switch(nowwebname){
				case 'Repair'://维修数据 
				headtitle.innerHTML = '维修列表'; 
				Loading(1,1,7);//加载数据,包括上滑加载
				break;
				case 'Clean'://保洁数据
				headtitle.innerHTML = '保洁列表';
				Loading(2,1,7);//加载数据,包括上滑加载
				break;
				case 'Babysister'://保姆数据
				headtitle.innerHTML = '保姆列表';
				Loading(3,1,7);//加载数据,包括上滑加载
				break;
				case 'Openclock'://开锁数据
				headtitle.innerHTML = '开锁列表';
				Loading(4,1,7);//加载数据,包括上滑加载
				break;
			}
		}
		
		//加载方法
		function Loading(Ctype_name,CcurrentPage,CnumsPerPage){
			mui.ajax(serverUrl+'/api/localservice/localservice',{ 									
				data:{type_name:Ctype_name,currentPage:CcurrentPage,numsPerPage:CnumsPerPage}, 
				dataType:'json',//服务器返回json格式数据
				type:'post',//HTTP请求类型 
				timeout:10000,//超时时间设置为10秒；	
				headers:{"token":oldtoken}, 
				success:function(data){
					if(data.errno == 0){
						console.log(data);
						var dataobj = {};
						dataobj.list = data.data.data; 
						//获取并渲染用户信息
						var html=template("infolist",dataobj);
						document.getElementById("infolistdiv").innerHTML += html;
						if(data.data.totalPages){
							mui("#upload")[0].innerHTML = "";
						}else{
							mui("#upload")[0].innerHTML = "没有数据了 ";
						}
						
						//滚动到底部加载
						$(window).scroll(function(){
						　　var scrollTop = $(this).scrollTop();
						　　var scrollHeight = $(document).height();
						　　var windowHeight = $(this).height();
						　　if(scrollTop + windowHeight == scrollHeight){
								//加载下一部分
							  var nowpage = ++CcurrentPage;
								if(nowpage<=data.data.totalPages){//当前页小于等于总页数时请求下一页
									mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
									console.log('可以请求数据');
									mui.ajax(serverUrl+'/api/localservice/localservice',{ 									
										data:{type_name:Ctype_name,currentPage:nowpage,numsPerPage:CnumsPerPage}, 
										dataType:'json',//服务器返回json格式数据
										type:'post',//HTTP请求类型 
										timeout:10000,//超时时间设置为10秒；	
										headers:{"token":oldtoken}, 
										success:function(data){
											if(data.errno == 0){
												var dataobj = {};
												dataobj.list = data.data.data; 
												//获取并渲染用户信息
												var html=template("infolist",dataobj);
												document.getElementById("infolistdiv").innerHTML += html;
												mui("#upload")[0].innerHTML = "上滑加载 ";
											}else{
												--CcurrentPage;//请求失败,继续请求当前页
												mui.toast("获取数据失败");
											}
											plus.nativeUI.closeWaiting();//关闭等待框
										},
										error:function(xhr,type,errorThrown){
											--CcurrentPage;//请求失败,继续请求当前页
											mui.toast("当前网络不好请重试");
										}
									});
								}else{
									mui("#upload")[0].innerHTML = "没有数据了";
								}
								//加载下一部分结束
							　　}
						});
						
					}else{
						mui.toast("获取数据失败");
					}
					plus.nativeUI.closeWaiting();//关闭等待框
				},
				error:function(xhr,type,errorThrown){
					plus.nativeUI.closeWaiting();//关闭等待框
					mui.toast("当前网络不好请重试");
				}
			});
		}
		//发布按钮
		mui('#thePlus')[0].onclick = function(){
			if(plus.storage.getItem('myToken')){ 
				openview({
					view:'new_service.html',
					extrasobj:{name:nowwebname}
				})
			}else{//没登陆直接打开登录页面
				mui.toast('请登录');
				openview({
					view:'../login.html'
				});
			}
		} 
	
	});//plusReady
})();

//跳转详情
function opendetails(id){
	openview({
		view:'theDetail.html',
		extrasobj:{name:id}
	})
}
</script>
</html>