<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>管理收货地址</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<!--<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>-->
		<script src="../../js/hmt.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<script src="../../js/app.js" type="text/javascript"></script>
		<!--引入模板引擎-->
		<script src="../../js/artTemplate-native.js" type="text/javascript"></script>
		<style type="text/css">
			#main{
				margin-top: 50px;
			}
			.mui-bar-nav{
				box-shadow: none;
			}
			.mui-bar{
				height: 50px;
			}
			.mui-title,.mui-icon{
				line-height: 50px;
			}
			.mui-bar .mui-icon{
				padding: 0;
			}
			
			/*消息提示框*/
			dialog{
				background-color: #fff !important;
			}
			.address-add{
				margin-top: 50px;
			}
			.addlist{
				border-bottom: none !important;
				border-top: none !important;
				margin-bottom: 4%;
			}
			.addlist .top{
				border-bottom: 1px solid #efeff4 !important;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hasManyCity hasManyCitytwo">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize fl fanhui"></a>
		    <div class="header-tit">
				管理收货地址
			</div>
		</header>
		<div id="addressList"></div>
		</div>
	    <!--模板铺数据-->
		<script id="addressList-detail" type="text/html">
			<div id="main" class="mui-clearfix contaniner">
			 	<% for(var i=0;i<addressLi.length;i++){ %>
			    	<div class="addlist clearfloat">
			    		<div class="top clearfloat box-s">
			    			<ul>
			    				<li>
			    					<span class="fl addId"><%= addressLi[i].person %></span>
			    					<span class="fr"><%= addressLi[i].phone %></span>
			    				</li>
			    				<li>
			    					<%= addressLi[i].province %><%= addressLi[i].city %><%= addressLi[i].area %><%= addressLi[i].address %>
			    				</li>
			    			</ul>
			    		</div>
			    		<div class="bottom clearfloat box-s">
			    			<section class="shopcar clearfloat">
			    				<div class="list listtwo clearfloat">
									<div class="xuan xuantwo clearfloat fl">
					    				<div class="radio" onclick="changeState(this)"> 
										    <label>
										    	<% if(addressLi[i].state == 1){ %>
										        	<input type="checkbox" name="sex" value="" checked id="<%= addressLi[i].id %>" />
										        <% }else{ %>
													<input type="checkbox" name="sex" value="" id="<%= addressLi[i].id %>" />
												<% } %>
										        <div class="option"></div>
										    </label>
										</div>
					    			</div>
					    			<span class="mradd fl">默认地址</span>
								<div class="right fr clearfloat">
									<a href="javascript:;" class="fr exterminate" onclick="deleteAd(<%= addressLi[i].id %>)">
										<i class="iconfont icon-lajixiang icon-shanchutwo"></i>
										删除
									</a>
									<a href="javascript:;" class="fr editAd" onclick="editAd(<%= addressLi[i].id %>)">
										<i class="iconfont icon-bianji bianjittt"></i>
										编辑
									</a>							
								</div>
								</div>
							</section>
			    		</div>
			    	</div>
		    	<% } %>
		    </div>
		</script>
		
		<a href="javascript:;" class="address-add fl" id="addNewAd" onclick="addAd()">
     		添加新地址
     	</a>
     	
	    <script type="text/javascript">
		mui.init();
		mui.plusReady(function(){
			
			//添加刷新监听
			document.addEventListener('refreshAd', function() {
				RefreshAd();
//				alert("刷新");
				console.log('刷新数据');
			})
			
			//判断是否登录并获取缓存token
			if(plus.storage.getItem('myToken')){
				var oldToken = plus.storage.getItem('oldToken');
			}else{
				mui.toast('请登录！');
				openview({
					view:'../login.html'
				})
			}
			var userId = plus.webview.currentWebview().userId;
			var pageid = plus.webview.currentWebview().pageid;
			RefreshAd();

			function RefreshAd(){
				mui.ajax(serverUrl+'/api/useraccount/addresslist',{
					data:{userid : userId},
					dataType:'json',
					type:'post',
					timeout:1000,
					headers:{"token":oldToken},	 
					success:function(data,type,xhr){
//						alert(JSON.stringify(data.data[0].userid));
						plus.storage.setItem("userid",userId);//userId做缓存
						var addressObj = {};
						addressObj.addressLi = data.data;
						var html = template('addressList-detail',addressObj);
						document.getElementById('addressList').innerHTML = html;
						
						//点击修改默认地址
						window.changeState = function(thisobj){
							var checked = $(thisobj).find('input').attr("checked");
							var thisAdId = $(thisobj).find('input').attr("id");
							
							if(typeof(checked)=="undefined"){
								for(w = 0;w < $('.radio').length;w ++){
									var otherState = $('.radio').eq(w).find('input').attr('checked');
//									alert(otherState);
									var otherId= $('.radio').eq(w).find('input').attr('id');
									if(typeof(otherState)=="undefined"){
//										
									}else{
//										alert(otherId);
										mui.ajax(serverUrl+'/api/useraccount/stateaddress',{
											data:{address_id:otherId,state:0},
											dataType:'json',
											type:'post',
											timeout:1000,
											headers:{"token":oldToken},	 
											success:function(data,type,xhr){
												alert(JSON.stringify(data))
											},
											error:function(xhr,type,errorThrown){
												alert('响应失败  !');
											}
										});
									}
								}
								$('.radio').find('input').removeAttr('checked');//移除其他勾选
								$(thisobj).find('input').prop('checked',true);//勾选当前
//								alert("不是默认，改为默认");
								mui.ajax(serverUrl+'/api/useraccount/stateaddress',{
									data:{address_id:thisAdId,state:1},
									dataType:'json',
									type:'post',
									timeout:1000,
									headers:{"token":oldToken},	 
									success:function(data,type,xhr){
//										alert(JSON.stringify(data))
									},
									error:function(xhr,type,errorThrown){
										alert('响应失败  !');
									}
								});
							}else{
								$(thisobj).find('input').removeAttr('checked');
//								alert('是默认，改为不是默认');
								mui.ajax(serverUrl+'/api/useraccount/stateaddress',{
									data:{address_id:thisAdId,state:0},
									dataType:'json',
									type:'post',
									timeout:1000,
									headers:{"token":oldToken},	 
									success:function(data,type,xhr){
//										alert(JSON.stringify(data))
									},
									error:function(xhr,type,errorThrown){
										alert('响应失败  !');
									}
								});
							}
						}
						//点击编辑跳转传参
						window.editAd = function(AdId){
							openview({
							 	view:"address-edit.html",
							 	extrasobj:{adId:AdId,userId:userId}
							})
						}
						//删除确认弹框
						var exterminate = document.getElementsByClassName('exterminate');
						window.deleteAd = function(AdIdD){
							mui.confirm('确认删除该地址？','',['取消','确认'],function (e) {
								if(e.index == 1) { 
									mui.ajax(serverUrl+'/api/useraccount/deleteaddress',{
										data:{address_id:AdIdD,state:0},
										dataType:'json',
										type:'post',
										timeout:1000,
										headers:{"token":oldToken},	 
										success:function(data,type,xhr){
//											alert(JSON.stringify(data))
											alert("删除成功！");
											mui.fire(plus.webview.getWebviewById('personal/address.html'),'refreshAd');//打开指定页面
//											openview({
//												view:'address.html',
//												extrasobj:{userId:userId}
//											});
										},
										error:function(xhr,type,errorThrown){
											alert('响应失败  !');
										}
									});
								}
							})
						}
						//点击添加地址跳转
						window.addAd = function(){
							openview({
								view:'add-address.html'
							});
						}
					},
					error:function(xhr,type,errorThrown){
						alert('响应失败  !');
					}
				});
			}
			
			
			
		})();
		
		
	</script>
	</body>	
</html>
