<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>积分管理</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>
		<script src="../../js/hmt.js" type="text/javascript"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<!--引入模板引擎-->
		<script src="../../js/artTemplate-native.js" type="text/javascript"></script>
		<style type="text/css">
			.account .top{
				background-color: #932427 !important;
			}
		</style>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a class="fl fanhui mui-action-back"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				积分管理
			</div>		
		</header>
	    <!--header end-->
	    <div id="container">		
			<div id="main">
			    <div class="warp warpthree clearfloat">
			    	<div class="account clearfloat">
			    		<div class="top clearfloat">
			    			<ul>
			    				<li class="box-s">操作时间</li>
			    				<li>进出账</li>
			    				<li>积分</li>
			    			</ul>
			    		</div>
			    		<div class="list clearfloat box-s" id="operationList">
			    			
			    		</div>	    		
			    	</div>
			    </div>
			</div>
		</div>
		
		<!--模板铺数据-->
		<script id="operationList-detail" type="text/html">
			<% for(var i=0;i<scoreList.length;i++){ %>
				<div class="shang clearfloat">
					<ul>
	    				<li class="box-s"><%= scoreList[i].creta_time %></li>
	    				<li><%= scoreList[i].notice %></li>
	    				<li><%= scoreList[i].change %></li>
	    			</ul>
				</div>
			<% } %>
			<div class="bottom clearfloat">
				<span class="fl">2016-07-10 13:29:47</span>
				<p class="fr">剩余积分：<span id="userScore"></span></p>
			</div>
		</script>
	</body>
	<!--模板引擎获取数据-->
	<script type="text/javascript" charset="utf-8">
      	mui.init();
		mui.plusReady(function(){
			//积分变化详情列表
			mui.ajax('../../json/score.json',{									
	//				data:{"phone":""},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:1000,//超时时间设置为10秒；	              
				success:function(data){
					var scoreArray = data.hf_user_intergral;
					var scoreObj = {};
					scoreObj.scoreList = scoreArray;
					var html = template('operationList-detail', scoreObj);
					document.getElementById('operationList').innerHTML = html;
				},
				error:function(xhr,type,errorThrown){
					//异常处理；
					console.log("获取失败！");
					mui.toast("当前网络不好请重试");
				}
			});
			
			//积分余额
			mui.ajax('../../json/user.json',{									
	//				data:{"phone":""},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:1000,//超时时间设置为10秒；	              
				success:function(data){
					document.getElementById('userScore').innerHTML = data.userinfo[0].integral;
				},
				error:function(xhr,type,errorThrown){
					//异常处理；
					console.log("获取失败！");
					mui.toast("当前网络不好请重试");
				}
			});
		})
    </script>
</html>

