<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商城订单</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css"> 
		<script type="text/javascript" src="../../js/jquery.min.js"></script> 
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<style type="text/css">
			.notice .tab-hd,.orderbh,dl.list dt, dl.list dd,dl.list{
				/*border-bottom: 1px solid #eee;*/
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				overflow-y: hidden;
			}
			.notice .tab-bd .tab-pal{
				border-top: 1px solid #eee;
			}
			.notice .tab-bd .tab-pal dl{
				background-color: #efeff4;
			}
			.notice .tab-bd{
				padding-top: 1%;
			}
			.notice li.active{
				border-bottom: 2px solid red;
				box-sizing: border-box;
				color: red;
			}
			dl.list dt, dl.list dd, dl.list{
				margin-bottom: 10px;
				background-color: #fff;
				border: none!important;
			}
			dl.listtwo dd>.react{
				background-color:#eee;
			}
			dl.listtwo dd{
				padding: 0;
			}
			.order-bottom{
				margin: 5px 0;
			}
			.order-bottom a{
				background-color: #fff;
				color: #666;
				border: 1px solid #ccc;
				-webkit-border-radius: 3px;
				margin-left: 2%;
				width: 25%;
				font-size: 12px;
				line-height: 27px;
				padding: 0 2px !important;
			}
			.confirm{
				color: #ff5601 !important;
				border: 1px solid #ff5601 !important;
			}
			.poi-name{
				width: 70%;
				overflow: hidden;
				display: inline-block;
				line-height: 20px;
			}
			.pricetwo{
				position: absolute !important;
				top: 0;
				right: 0;
				width: 30% !important; 
				display: inline-block !important;
				text-align: right;
				line-height: 20px;
			}
			.pricetwo span{
				color: #333 !important;
			}
			.react{
				height: 105px !important;
				margin-bottom: 2px;
			}
			.react:last-child{
				margin-bottom: 0;
			}
			.dealcard .dealcard-img{
				overflow: hidden;
			}
			.dealcard-img img{
				height: 100%!important;
			}
			.dealcard .dealcard-brand, .cinemacard .cinemacard-brandP,.dealcard .title span, .dealcard .price span{
				font-size: 14px;
			}
			.dealcard .dealcard-brand{
				height: 90px;
			}
			.dealcard .price{
				height: inherit;
				line-height: 30px;
			}
			.dealcard .price p{
				color: #333;
			}
			.dealcard .price .num{
				color: #666;
				font-size: 12px;
			}
			.state{
				color: #ff5601 !important;
				font-size: 12px !important;
			}
			.tip{
				border-bottom: 1px solid #EFEFF4;
				text-align: right;
			}
			.tip p{
				color: #333;
			}
			.tab-nav{ 
				overflow-x: scroll !important;
				width: 120%;
				    /*background-color: white;*/
				    white-space: nowrap; 
			}
			.tab-hd{
				height: 41px !important;
				border-bottom: 1px solid #EFEFF4 !important;
			}
			.tab-nav li{
				height: 40px !important;
			}
			.tab-hdtwo{
				overflow-x: scroll;
				white-space: nowrap;
				background: none;
			}
			.notice .tab-hdtwo li {
				float: none!important;
			    width: 16%;
			    display: inline-block;
			    white-space: nowrap;
			    height: auto;
			    line-height: 2.8!important;
		    }
		    ::-webkit-scrollbar {
				width: 0!important;
				opacity: 1!important;
			}
			.poi-name{
				word-break: break-all;
				white-space: normal;
				font-size: 14px;
			}
			#payChoose {
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 9999;
				background-color: rgba(0, 0, 0, 0.2);
			}
			
			#payChoose p {
				text-align: center;
				color: black;
				position: relative;
				font-size: 0.16rem;
				padding: 15px;
			}
			
			#payChoose p:after {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				left: 0;
				height: 1px!important;
				-webkit-transform: scaleY(0.1);
				-webkit-transform-origin: bottom;
				background-color: #D1D2D4;
			}
			
			#payChoose p img {
				width: 16px;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -8px;
			}
			
			.paycontent {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: #EEEEEE;
			}
			
			.mui-popover.mui-popover-action .mui-table-view {
				margin: 0;
			}
			
			.suborder a {
				background-color: #F53C42;
				color: white!important;
				border-radius: 5px!important;
				margin: 1px!important;
			}
			
			.paycontent img {
				width: 30px;
				margin-right: 15px;
			}
			
			.waypay li {
				background: white;
				color: black;
				font-size: 0.15rem;
				text-align: left;
			}
			
			.waypay li img.fr {
				width: 25px;
				vertical-align: middle;
			}
			
			.paytip {
				position: relative;
				background: white;
				padding: 15px;
				text-align: center;
				font-size: 0.14rem;
			}
			
			#totalPayCash {
				color: red;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">商城订单</h1>  
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div id="container">		
			<div id="main" style="padding-top: 0!important;"> 
				<div id="orderData"></div>
					
					<script type="text/html" id="orderTpl">
						<div class="notice">
					<div class="tab-hd tab-hdtwo">
						<ul class="tab-nav">
						  <li class="active" data-statusId="-1">全部</li>
						  <li data-statusId="1">待付款</li>
						  <li data-statusId="2">待发货</li>
						  <li data-statusId="3">待收货</li>
						  <li data-statusId="4">待评价</li>
						  <li data-statusId="7">退款</li>
						</ul>
					</div>
					<div class="tab-bd">
						<div class="tab-pal">
							<dl class="list listtwo list-in">
								<%for(var i =orderData.length-1;i>=0;i--){%>
										<dd id="<%=orderData[i].order_id%>" data-id="<%=orderData[i].order_status%>">
											<div class="orderbh clearfloat box-s">
												<span onclick="goShop('<%=orderData[i].goods_data.store_id%>')">
													<img src="../../img/market/shop.png" style="width: 0.2rem;vertical-align: middle;" /> 
													<%if(orderData[i].goods_data.store_id == 0){ %>
														跨境优品
													<%}else{%>
														<%=orderData[i].goods_data.stores.store_name%>
														<%}%>
												</span>
												<span class="fr state"><%=state[orderData[i].order_status]%></span>
											</div>
											<%for(var j =0;j<orderData[i].goods_data.goods_Data.length;j++){%>
											<a href="#" class="react" onclick="orderInfo('<%=orderData[i].order_id%>')">
												<div class="dealcard dealcardtwo clearfloat">
													<div class="dealcard-img imgbox">
														<% if(orderData[i].goods_data.store_id == 0){ %>
															<img src="<%=orderData[i].goods_data.goods_Data[j].thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
														<% }else{ %>
															<img src="<%=myUrl%><%=orderData[i].goods_data.goods_Data[j].thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
														<% } %>
													</div>
													<div class="dealcard-block-right dealcard-block-righttwo">
														<div class="dealcard-brand dealcard-brandtwo single-line">
															<span class="poi-name icon-count-3"><%=orderData[i].goods_data.goods_Data[j].title%></span>
															<div class="price pricetwo">
																<p>¥<%=orderData[i].goods_data.goods_Data[j].price%></p>
																<p class="num">x<%=orderData[i].goods_data.goods_Data[j].nums%></p>	
															</div>	
														</div>									
													</div>
												</div>
											</a>
											<%}%> 
										 
												<div class="order-bottom clearfloat box-s tip">
													<p><!--<sub>共<%=orderData[i].goods_data.totalNum%>件商品&nbsp;-->
													 <%if(orderData[i].userPostData){%>
														合计:￥</sub><%=orderData[i].amount%><sub>
														<%if(orderData[i].userPostData.express_id == -1){%>
															(不含运费)
															<%}else if(orderData[i].userPostData.express_id == -2){%>
															(自提)	
																<%}else{%>
																(含运费)
																<%}%>
																<%}%>
														</sub></p>
												</div> 
												
											<%if(orderData[i].order_status==1){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="goOrder('<%=orderData[i].order_UUID%>','<%=orderData[i].rePayID%>','<%=orderData[i].seller%>','<%=orderData[i].buyer%>','<%=orderData[i].order_id%>')" class="fr confirm">付款</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','取消')" class="fr">取消订单</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==2){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==3){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="orderConfirm('<%=orderData[i].order_id%>')" class="fr confirm">确认收货</a>
													<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
													<a onclick="viewLogistics('<%=orderData[i].order_id%>','<%=orderData[i].logistic_code%>','<%=orderData[i].shipper_code%>')" class="fr">查看物流</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==4){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="goComment('<%=orderData[i].order_id%>',<%=orderData[i].userPostData.goodsData.length%>,<%=orderData[i].userPostData.goodsData[0].goodsid%>,<%=orderData[i].userPostData.storeid%>)" class="fr confirm">评价</a>
													<a onclick="viewLogistics('<%=orderData[i].order_id%>','<%=orderData[i].logistic_code%>','<%=orderData[i].shipper_code%>')" class="fr">查看物流</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==5){%>
												<div class="order-bottom clearfloat box-s">  
													<a class="fr confirm">已评价</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==6){%>
												<div class="order-bottom clearfloat box-s">  
													<!--<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
													<a class="fr">等待退货</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==7){%>
												<div class="order-bottom clearfloat box-s">  
													<!--<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
													<a onclick="cmtwl('<%=orderData[i].order_id%>','<%=orderData[i].order_UUID%>','<%=orderData[i].buyer%>')" class="fr confirm">填写退货物流</a>
												</div>
											<%}%> 
											 
											<%if(orderData[i].order_status==8){%>
												<div class="order-bottom clearfloat box-s"> 
													<a class="fr confirm">退款成功</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a> 
												</div>
											<%}%> 
											<%if(orderData[i].order_status==9){%>
												<div class="order-bottom clearfloat box-s"> 
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a> 
												</div>
											<%}%> 
											<%if(orderData[i].order_status==10){%>
												<div class="order-bottom clearfloat box-s"> 
													<a class="fr">等待退款</a> 
												</div>
											<%}%>
											 
										</dd>
									<%}%>
									
								<div id="noOrder" style="display: none;">
									<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" />
									<span style="display:block;text-align: center;padding: 20px;">您还没有相关的订单</span>
							    </div>
							</dl>
						</div>
						
					</div>
				</div>
					</script>
				
												
			</div>
		</div>
		
		<!--操作表-->
		<div id="payChoose" class="mui-popover mui-popover-action mui-popover-bottom closePay">
			<div class="paycontent">
				<p><span>请选择支付方式</span><img src="../../img/close.svg" class="closePay" /></p>
				<div class="paytip">请尽快完成支付 充值金额<span id="totalPayCash"></span></div>
				<ul class="mui-table-view waypay">
					<li class="mui-table-view-cell">
						<a href="#" id="alipay" data-pay="alipay"><img src="../../img/alipay2-2.png" />支付宝</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#" id="wxpay" data-pay="wxpay"><img src="../../img/weixin2-2.png" />微信 </a>
					</li>
				</ul>
			</div>
		</div>
	</body>  
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".paycontent").click(function() {
			event.stopImmediatePropagation()
		})
		$(".closePay").click(function() {
			event.stopPropagation();
			$("#payChoose").removeClass("mui-active");
		})
 
		var pays={}
		mui.plusReady(function(){
			
			//获取上一个页面 穿的 订单类型
			var toOrder_status = plus.webview.currentWebview().status; 
			if(plus.webview.getWebviewById("pay")){ 
			   plus.webview.getWebviewById("pay").close();
			}
			window.addEventListener('refresh',function(event){  
				load();
			})
			
			var oldToken = plus.storage.getItem('oldToken'); 
			var myuserid = plus.storage.getItem('userid'); 
			//加载订单 
			plus.nativeUI.showWaiting('加载中 ...', {
				width: '100px',
				height: '80px'
			});
			load();
			function load(){
				mui.ajax(serverUrl+'/api/mall/orderlist',{
				data:{userid:myuserid},
				dataType:'json',
				type:'post',
				timeout:10000,
				headers:{"token":oldToken},	 
				success:function(data,type,xhr){  
					console.log("对对对 ",data)
					plus.nativeUI.closeWaiting(); 
					if(data.errno==0){
						if(data.data.length!=0){
							for(var i=0;i<data.data.length;i++){
								if(data.data[i].goods_data){
									data.data[i].goods_data=eval("("+data.data[i].goods_data+")");
								}
								for(var j = 0;j<data.data[i].goods_data.goods_Data.length;j++){
									data.data[i].goods_data.goods_Data[j].price = parseFloat(data.data[i].goods_data.goods_Data[j].price).toFixed(2); 
								}
								if(data.data[i].userPostData){
									data.data[i].userPostData=eval("("+data.data[i].userPostData+")");
								}
								console.log("post  ",data.data[i].userPostData)
									data.data[i].goods_data.totalMoney = data.data[i].goods_data.PriceCalculValue;
									
									if(data.data[i].fee>0){
										data.data[i].fee = "+￥"+data.data[i].fee;
									}else{
										data.data[i].fee = "-￥"+data.data[i].fee;
									}
									 
							 
							}
							console.log("goods_data "+JSON.stringify(data.data[0].goods_data))
							var obj={}; 
							 obj.orderData=data.data;
							 obj.myUrl=serverimgUrl; 
							 obj.state = ['','等待买家付款','买家已付款','卖家已发货','','已评价','等待卖家同意退货','退款中','退款成功','','等待卖家同意退款'];
							document.getElementById("orderData").innerHTML=template("orderTpl",obj);
							 
							if(toOrder_status == -1){
								$(".tab-nav li").removeClass("active");
								$(".tab-nav li:nth-of-type(1)").addClass("active");
								$('#noOrder').css('display','none');
								$("dd").css("display","block")
							}
							if(toOrder_status == 0){ 
								$(".tab-nav li").removeClass("active");
								$(".tab-nav li:nth-of-type(2)").addClass("active");
								var i=0;
								$('#noOrder').css('display','none');
								$('dd').each(function(){
								var status = $(this).attr("data-id");
								if(status==1){
									i++;
									$(this).css("display","block"); 
								}else{
									$(this).css("display","none");
								}  
								}) 
								
								if(i==0){
									$('#noOrder').css('display','block');
								}
							}
							if(toOrder_status == 2){
								$(".tab-nav li").removeClass("active");
								$(".tab-nav li:nth-of-type(4)").addClass("active");
								var i=0;
								$('#noOrder').css('display','none');
								$('dd').each(function(){
								var status = $(this).attr("data-id");
								if(status==3){
									i++;
									$(this).css("display","block"); 
								}else{
									$(this).css("display","none");
								}
								})
								if(i==0){
									$('#noOrder').css('display','block');
								}
							}
							if(toOrder_status == 3){
								$(".tab-nav li").removeClass("active");
								$(".tab-nav li:nth-of-type(5)").addClass("active");
								var i=0;
								$('#noOrder').css('display','none');
								$('dd').each(function(){
								var status = $(this).attr("data-id");
								if(status==4){
									i++;
									$(this).css("display","block"); 
								}else{
									$(this).css("display","none");
								}
								}) 
								if(i==0){
									$('#noOrder').css('display','block');
								}
							}
							
							$('.tab-nav li').click(function(){ 
								var statusId=$(this).attr("data-statusId"); 
								$(this).siblings().removeClass("active");
								$(this).addClass("active");
								if(statusId==-1){
									$('#noOrder').css('display','none');
									$("dd").css("display","block")
								}
								if(statusId==1 ){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==1){
										i++;
										$(this).css("display","block"); 
									}else{
										$(this).css("display","none");
									} 
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==2){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==2){
										i++;
										$(this).css("display","block");
									}else{ 
										$(this).css("display","none");
									}
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
//								if(statusId==2){
//									var i=0;
//									$('#noOrder').css('display','none');
//									$('dd').each(function(){
//									var status = $(this).attr("data-id");
//									if(status==2){
//										i++;
//										$(this).css("display","block"); 
//									}else{
//										$(this).css("display","none");
//									}
//									})
//									if(i==0){
//										$('#noOrder').css('display','block');
//									}
//								}
//								if(statusId==3){
//									var i=0;
//									$('#noOrder').css('display','none');
//									$('dd').each(function(){
//									var status = $(this).attr("data-id");
//									if(status==2){
//										i++;
//										$(this).css("display","block"); 
//									}else{
//										$(this).css("display","none");
//									}
//									}) 
//									if(i==0){
//										$('#noOrder').css('display','block');
//									}
//								}
								if(statusId==4){ 
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==4){
										i++;
										 $(this).css("display","block");
									} 
									else{
										$(this).css("display","none"); 
									}
									
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==7){ 
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==6 || status==7 || status==8 || status==10){
										i++;
										 $(this).css("display","block");
									} 
									else{
										$(this).css("display","none"); 
									}
									
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==3){ 
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==3){
										i++;
										 $(this).css("display","block");
									} 
									else{
										$(this).css("display","none"); 
									}
									
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
							})
						}else{
							
					document.getElementById("orderData").innerHTML='<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" /><span style="display:block;text-align: center;padding: 20px;">您还没有相关的订单</span>';
						}
					}else{
						plus.nativeUI.closeWaiting()
					}
				},
				error:function(xhr,type,errorThrown){
					plus.nativeUI.closeWaiting()
					console.log('响应失败  !');
				}
			});
			}
			
				 
			
	    //数组去重
		Array.prototype.unique1 = function() {
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
		    window.goShop=function(id){
				openview({
					view:'../market/shophome.html', 
					extrasobj:{storeId:id}
				})
			}
			window.orderInfo=function(orderId){
				openview({
					view:'orderDetail.html',
					id:'orderDetail',
					extrasobj:{orderId:orderId}
				})
			}
			window.delOrder=function(obj,id,txt){ 
				mui.confirm('确认'+txt+'订单？', '提示', ['取消', '确定'], function(e) {
					 
					plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框 
						if(e.index == 1) {
							mui.ajax(serverUrl+'/api/mall/deleteorder',{
								data:{userId:myuserid,orderId:id},
								dataType:'json',
								type:'post',
								timeout:10000,
								headers:{"token":oldToken},	 
								success:function(data,type,xhr){
									console.log("删除订单 ",data)
									plus.nativeUI.closeWaiting();
							       if(data.data==1){  
							       	load();
							       }else{
							       	mui.toast("删除订单失败，请重试")
							       }
							 },  
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting()
									console.log('响应失败  !');
								} 
							});
						}else{
							plus.nativeUI.closeWaiting();
						}
						
				})   
			}
			
		

			
			window.goOrder=function(uuid,repayid,seller,buyer,orderid){
				$("#payChoose").addClass("mui-active");
					
			//系统检测获取支付通道
			plus.payment.getChannels(function(channels) {
				console.log("channel " + JSON.stringify(channels));
				for(var i in channels) {
					var channel = channels[i];
					// 过滤掉不支持的支付通道：暂不支持360相关支付
					if(channel.id == 'qhpay' || channel.id == 'qihoo') {
						continue;
					}
					pays[channel.id] = channel;
					if(channel.id == 'alipay') { //添加支付事件
						document.getElementById('alipay').setAttribute('onclick', 'payfun("alipay")');
					}
					if(channel.id == 'wxpay') {
						document.getElementById('wxpay').setAttribute('onclick', 'payfun("wxpay")');

					}
					checkServices(channel);
				}
			}, function(e) {
				plus.nativeUI.alert("支付失败，请重试", null, "提示");
			});

			// 检测是否安装支付服务
			function checkServices(pc) {
				if(!pc.serviceReady) {
					var txt = null;
					switch(pc.id) {
						case "alipay":
							txt = "检测到系统未安装“支付宝快捷支付服务”，无法完成支付操作，是否立即安装？";
							break;
						default:
							txt = "系统未安装“" + pc.description + "”服务，无法完成支付，是否立即安装？";
							break;
					}
					//						plus.nativeUI.confirm(txt,function(e){
					//							if(e.index==0){
					//								pc.installService();
					//							}
					//						},pc.description);
				}
			}
			//系统检测获取支付通道结束
			// 支付方法 
					window.payfun = function(id) {
						var varpay;
						if(id == 'alipay' || id == 'wxpay') {
							//调用支付功能
							plus.nativeUI.showWaiting();
							if(id == 'alipay') {
								//获取后台返回数据 
								gopay(id);

							} else if(id == 'wxpay') { //微信
								gopay(id);
							}
						} else {
							plus.nativeUI.alert("当前环境不支持此支付通道！", null, "提示");
							return;
						}
//* @param {String} UUID 
// * @param {number} order_id 
// * @param {number} userId 
// * @param {number} seller   
// * @param {string} rePayID  预支付订单的ID
// * @param {string} payType  alipay | wechatpay
// */

						function gopay(id) {
							var oldToken = plus.storage.getItem('oldToken');
							mui.ajax(serverUrl+'/api/mall/repayment', {
								data: { 
									order_UUID:uuid,
									order_id:orderid,
									userId:parseInt(buyer),
									seller:parseInt(seller),
									rePayID:parseInt(repayid),
									payType:id
								},
								type: 'post', //HTTP请求类型
								headers: {
									"token": oldToken
								},
								timeout: 300000, //超时时间设置为10秒；
								success: function(data) {
									plus.nativeUI.closeWaiting() 
									var varpay;
									if(id == 'wxpay') {
										varpay = {
											"appid":data.data.payData.appid,
											"noncestr":data.data.payData.noncestr,
											"package":"Sign=WXPay",
											"partnerid":data.data.payData.partnerid,
											"prepayid":data.data.payData.prepayid,
											"timestamp":parseInt(data.data.payData.timestamp),
											"sign":data.data.payData.sign
										};
										//微信
										plus.payment.request(pays[id], varpay, function(result) {
											var resultStr = JSON.stringify(result);
											console.log("----- 支付成功 -----");
											plus.nativeUI.closeWaiting();
											//修改订单状态
											mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
												data: {id:data.data.AccessToken,appPayValue:resultStr,userid:myuserid,addressId:addressid},
												type: 'post', //HTTP请求类型
												headers: {
													"token": oldToken
												},
												timeout: 10000, //超时时间设置为10秒；
												success: function(data) {
													console.log("修改状态成功");
		//											关闭 订单页  
													load(); 
												},
												error: function(xhr, type, errorThrown) {
												}
											});

										}, function(e) {
											console.log("----- 支付失败 -----");
											console.log("[" + e.code + "]：" + e.message);
											plus.nativeUI.alert("支付失败");
										});
									} else {
										//支付宝
										varpay = data.data.payData;
										plus.payment.request(pays[id], varpay, function(result) {
											var resultStr = JSON.stringify(result);
											console.log("----- 支付成功 -----", JSON.stringify(result));
											plus.nativeUI.closeWaiting();
//											plus.nativeUI.alert("支付成功");
//											alert("id "+data.data.AccessToken+"varpay "+JSON.stringify(varpay)+myuserid+" "+addressid)
											//修改订单状态
											mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
												data: {id:data.data.AccessToken,appPayValue:resultStr,userid:myuserid,addressId:addressid},
												dataType:'json',
												type: 'post', //HTTP请求类型
												headers: {
													"token": oldToken
												},
												timeout: 10000, //超时时间设置为10秒；
												success: function(data) {
													console.log("修改状态成功");
		//											关闭 订单页   
													load(); 
												},
												error: function(xhr, type, errorThrown) {
													console.log("修改状态失败")
												}
											});
  
										}, function(e) {
											console.log("----- 支付失败 -----");
											console.log("[" + e.code + "]：" + e.message);
											//					console.log("["+e.code+"]："+e.message);
											plus.nativeUI.closeWaiting();
											plus.nativeUI.alert("支付失败");
										});
									}
								},
								error: function(xhr, type, errorThrown) {
									//异常处理；
									console.log(type);
									console.log("----- 请求订单失败 -----");
									console.log(xhr.status);
									plus.nativeUI.closeWaiting();
									plus.nativeUI.alert("获取订单信息失败！");
								}
							});

						}

					}

			}
				
			window.goComment=function(orderId,goodlength,goodId,stroid){
				if(goodlength==1){
					openview({
						view:'comment.html',
						extrasobj:{orderId:orderId,goodid:goodId,pageid:'sc-order',stroId:stroid}
					})
				}else{
					openview({
						view:'commentGoods.html',
						extrasobj:{orderId:orderId,pageid:'sc-order',stroId:stroid}
					})
				}
				
			}
			window.viewLogistics=function(id,deliveryNo,shipper){
				openview({ 
							view:'../localLife/deliveryTrace.html',
							extrasobj:{deliveryNo:deliveryNo,shipper:shipper}
						})
			}
			window.orderConfirm=function(id){
				mui.confirm('确认收货？', '提示', ['取消', '确定'], function(e) {
					 
					plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框 
						if(e.index == 1) { 
							mui.ajax(serverUrl+'/api/mall/completeorder',{
								data:{userId:myuserid,orderId:id},
								dataType:'json',
								type:'post',
								timeout:10000,
								headers:{"token":oldToken},	 
								success:function(data,type,xhr){ 
									plus.nativeUI.closeWaiting();
							       	if(data.data==1){  
							       	  mui.toast("收货成功"); 
									  load();
							       }
							 },  
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting()
									console.log('响应失败  !');
								} 
							});
						}else{
							plus.nativeUI.closeWaiting();
						}
						
				})
			} 
			window.tuiOrder=function(id,price){ 
				openview({
					view:'../market/ruturnList.html', 
					extrasobj:{orderId:id,price:price} 
				})
			}
			window.cmtwl = function(id,order_UUID,buyer){
				openview({
					view:'comitdelivery.html', 
					extrasobj:{orderId:id,uuid:order_UUID,buyerId:buyer,page:"sc-order"} 
				})
			}
			
		})
	</script>
</html>
