<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商城订单</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css"> 
		<script type="text/javascript" src="../../js/jquery.min.js"></script> 
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<style type="text/css">
			.notice .tab-hd,.orderbh,dl.list dt, dl.list dd,dl.list{
				/*border-bottom: 1px solid #eee;*/
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				overflow-y: hidden;
			}
			.notice .tab-bd .tab-pal{
				border-top: 1px solid #eee;
			}
			.notice .tab-bd .tab-pal dl{
				background-color: #efeff4;
			}
			.notice .tab-bd{
				padding-top: 1%;
			}
			.notice li.active{
				border-bottom: 2px solid red;
				box-sizing: border-box;
				color: red;
			}
			dl.list dt, dl.list dd, dl.list{
				margin-bottom: 10px;
				background-color: #fff;
				border: none!important;
			}
			dl.listtwo dd>.react{
				background-color:#eee;
			}
			dl.listtwo dd{
				padding: 0;
			}
			.order-bottom{
				margin: 5px 0;
			}
			.order-bottom a{
				background-color: #fff;
				color: #666;
				border: 1px solid #ccc;
				-webkit-border-radius: 3px;
				margin-left: 2%;
				width: 25%;
				font-size: 12px;
				line-height: 27px;
				padding: 0 2px !important;
			}
			.confirm{
				color: #ff5601 !important;
				border: 1px solid #ff5601 !important;
			}
			.poi-name{
				width: 70%;
				overflow: hidden;
				display: inline-block;
				line-height: 20px;
			}
			.pricetwo{
				position: absolute !important;
				top: 0;
				right: 0;
				width: 30% !important; 
				display: inline-block !important;
				text-align: right;
				line-height: 20px;
			}
			.pricetwo span{
				color: #333 !important;
			}
			.react{
				height: 105px !important;
				margin-bottom: 2px;
			}
			.react:last-child{
				margin-bottom: 0;
			}
			.dealcard .dealcard-img{
				overflow: hidden;
			}
			.dealcard-img img{
				height: 100%!important;
			}
			.dealcard .dealcard-brand, .cinemacard .cinemacard-brandP,.dealcard .title span, .dealcard .price span{
				font-size: 14px;
			}
			.dealcard .dealcard-brand{
				height: 90px;
			}
			.dealcard .price{
				height: inherit;
				line-height: 30px;
			}
			.dealcard .price p{
				color: #333;
			}
			.dealcard .price .num{
				color: #666;
				font-size: 12px;
			}
			.state{
				color: #ff5601 !important;
				font-size: 12px !important;
			}
			.tip{
				border-bottom: 1px solid #EFEFF4;
				text-align: right;
			}
			.tip p{
				color: #333;
			}
			.tab-nav{ 
				overflow-x: scroll !important;
				width: 120%;
				    /*background-color: white;*/
				    white-space: nowrap; 
			}
			.tab-hd{
				height: 41px !important;
				border-bottom: 1px solid #EFEFF4 !important;
			}
			.tab-nav li{
				height: 40px !important;
			}
			.tab-hdtwo{
				overflow-x: scroll;
				white-space: nowrap;
				background: none;
			}
			.notice .tab-hdtwo li {
				float: none!important;
			    width: 16%;
			    display: inline-block;
			    white-space: nowrap;
			    height: auto;
			    line-height: 2.8!important;
		    }
		    ::-webkit-scrollbar {
				width: 0!important;
				opacity: 1!important;
			}
			.poi-name{
				word-break: break-all;
				white-space: normal;
				font-size: 14px;
			}
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">商城订单</h1>  
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div id="container">		
			<div id="main" style="padding-top: 0!important;"> 
				<div id="orderData"></div>
					
					<script type="text/html" id="orderTpl">
						<div class="notice">
					<div class="tab-hd tab-hdtwo">
						<ul class="tab-nav">
						  <li class="active" data-statusId="-1">全部</li>
						  <li data-statusId="0">待付款</li>
						  <li data-statusId="1">待发货</li>
						  <li data-statusId="2">待收货</li>
						  <li data-statusId="3">待评价</li>
						  <li data-statusId="4">退款</li>
						</ul>
					</div>
					<div class="tab-bd">
						<div class="tab-pal">
							<dl class="list listtwo list-in">
								 
								<%for(var i =0;i<orderData.length;i++){%>
									<% if(orderData[i].order_type!=4){ %>
										<dd id="<%=orderData[i].order_id%>" data-id="<%=orderData[i].order_status%>">
											<div class="orderbh clearfloat box-s">
												<span onclick="goShop('<%=orderData[i].goods_data.storeid%>')">
													<img src="../../img/market/shop.png" style="width: 0.2rem;vertical-align: middle;" /> 
													<%=orderData[i].goods_data.goodsData[0].shopName%>
												</span>
												<span class="fr state"><%=state[orderData[i].order_status]%></span>
											</div>
											<%for(var j =0;j<orderData[i].goods_data.goodsData.length;j++){%>
											<a href="#" class="react" onclick="orderInfo('<%=orderData[i].order_id%>')">
												<div class="dealcard dealcardtwo clearfloat">
													<div class="dealcard-img imgbox">
														<% if(orderData[i].goods_data.storeid == 0){ %>
															<img src="<%=orderData[i].goods_data.goodsData[j].goodsImg%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
														<% }else{ %>
															<img src="<%=myUrl%><%=orderData[i].goods_data.goodsData[j].goodsImg%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
														<% } %>
													</div>
													<div class="dealcard-block-right dealcard-block-righttwo">
														<div class="dealcard-brand dealcard-brandtwo single-line">
															<span class="poi-name icon-count-3"><%=orderData[i].goods_data.goodsData[j].goodsName%></span>
															<div class="price pricetwo">
																<p>¥<%=orderData[i].goods_data.goodsData[j].goodsPrice%></p>
																<p class="num">×<%=orderData[i].goods_data.goodsData[j].goodsnum%></p>	
															</div>	
														</div>									
													</div>
												</div>
											</a>
											<%}%> 
											<%if(orderData[i].order_status==6 || orderData[i].order_status==7 || orderData[i].order_status==8){%>
												<div class="order-bottom clearfloat box-s tip" style="border-bottom: 0;">
													<p><sub>共<%=orderData[i].goods_data.totalNum%>件商品&nbsp;合计:￥</sub><%=orderData[i].goods_data.totalMoney%><sub>
														<%if(orderData[i].goods_data.postFee==0){%>
															(不含运费)
															<%}else{%>
																(含运费<%=orderData[i].goods_data.postFee%>)
																<%}%>
														</sub></p>
												</div>
											<%}else{%>
												<div class="order-bottom clearfloat box-s tip">
													<p><sub>共<%=orderData[i].goods_data.totalNum%>件商品&nbsp;合计:￥</sub><%=orderData[i].goods_data.totalMoney%><sub>
														<%if(orderData[i].goods_data.postFee==0){%>
															(不含运费)
															<%}else{%>
																(含运费<%=orderData[i].goods_data.postFee%>)
																<%}%>
														</sub></p>
												</div>
												<%}%>
												
											<%if(orderData[i].isBySelf==0){%>	
												
											<%if(orderData[i].order_status==1){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="goOrder('<%=orderData[i].order_UUID%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">付款</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','取消')" class="fr">取消订单</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==2){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==3){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="orderConfirm('<%=orderData[i].order_id%>')" class="fr confirm">确认收货</a>
													<a onclick="viewLogistics('<%=orderData[i].order_id%>','<%=orderData[i].logistic_code%>','<%=orderData[i].shipper_code%>')" class="fr">查看物流</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==4){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="goComment('<%=orderData[i].order_id%>')" class="fr confirm">评价</a>
													<a onclick="viewLogistics('<%=orderData[i].order_id%>','<%=orderData[i].logistic_code%>','<%=orderData[i].shipper_code%>')" class="fr">查看物流</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==5){%>
												<div class="order-bottom clearfloat box-s">  
													<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==6 || orderData[i].order_status==7 || orderData[i].order_status==8){%>
												 
											<%}%> 
											<%if(orderData[i].order_status==9){%>
												<div class="order-bottom clearfloat box-s"> 
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a> 
												</div>
											<%}%> 
											
											<%}else{%>
												
												<%if(orderData[i].order_status==1){%>
												<div class="order-bottom clearfloat box-s">
													
													<a onclick="goOrder('<%=orderData[i].order_UUID%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">付款</a>
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','取消')" class="fr">取消订单</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==2){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
												</div>
											<%}%>
											<%if(orderData[i].order_status==3){%>
												<div class="order-bottom clearfloat box-s">
													<span class="fl" style="color: palevioletred;">| 已选自提</span>
													<a onclick="orderConfirm('<%=orderData[i].order_id%>')" class="fr confirm">确认收货</a> 
												</div>
											<%}%>
											<%if(orderData[i].order_status==4){%>
												<div class="order-bottom clearfloat box-s">
													<a onclick="goComment('<%=orderData[i].order_id%>')" class="fr confirm">评价</a>
													<!--<a onclick="viewLogistics('<%=orderData[i].order_id%>','<%=orderData[i].logistic_code%>','<%=orderData[i].shipper_code%>')" class="fr">查看物流</a>-->
												</div>
											<%}%>
											<%if(orderData[i].order_status==5){%>
												<div class="order-bottom clearfloat box-s">  
													<!--<a onclick="tuiOrder('<%=orderData[i].order_id%>','<%=orderData[i].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a>
												</div>
											<%}%>
											 
											<%if(orderData[i].order_status==9){%>
												<div class="order-bottom clearfloat box-s"> 
													<a onclick="delOrder(this,'<%=orderData[i].order_id%>','删除')" class="fr">删除订单</a> 
												</div>
											<%}%> 
												
												<%}%>
										</dd>
										<%}%>
									<%}%>
									
								<div id="noOrder" style="display: none;">
									<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" />
									<span style="display:block;text-align: center;padding: 20px;">您还没有相关的订单</span>
							    </div>
							</dl>
						</div>
						
					</div>
				</div>
					</script>
				
												
			</div>
		</div>
	</body>  
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		 
		
		mui.plusReady(function(){
			if(plus.webview.getWebviewById("pay")){ 
			   plus.webview.getWebviewById("pay").close();
			}
			window.addEventListener('refresh',function(event){  
				load();
			})
			
			var oldToken = plus.storage.getItem('oldToken'); 
			var myuserid = plus.storage.getItem('userid'); 
			//加载订单 
			plus.nativeUI.showWaiting('加载中 ...', {
				width: '100px',
				height: '80px'
			});
			load();
			function load(){
				mui.ajax(serverUrl+'/api/mall/orderlist',{
				data:{userid:myuserid},
				dataType:'json',
				type:'post',
				timeout:10000,
				headers:{"token":oldToken},	 
				success:function(data,type,xhr){ 
					plus.nativeUI.closeWaiting(); 
					if(data.errno==0){ 
						if(data.data.length!=0){ 
							for(var i=0;i<data.data.length;i++){ 
								data.data[i].goods_data=eval("("+data.data[i].goods_data+")");
							}
//							alert(data.data[1].goods_data.goodsData[0].goodsImg)
							var obj={}; 
							 obj.orderData=data.data;
							 obj.myUrl=serverimgUrl; 
							 obj.state = ['','等待买家付款','买家已付款','卖家已发货','交易成功','交易完成','申请退款中','退货中','退款中','退款成功'];
							document.getElementById("orderData").innerHTML=template("orderTpl",obj);
							$('.tab-nav li').click(function(){ 
								var statusId=$(this).attr("data-statusId"); 
								$(this).addClass("active");
								$(this).siblings().removeClass("active");
								if(statusId==-1){
									$('#noOrder').css('display','none');
									$("dd").css("display","block")
								}
								if(statusId==0){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==1){
										i++;
										$(this).css("display","block"); 
									}else{
										$(this).css("display","none");
									} 
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==1){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==2){
										i++;
										$(this).css("display","block");
									}else{ 
										$(this).css("display","none");
									}
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==2){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==3){
										i++;
										$(this).css("display","block"); 
									}else{
										$(this).css("display","none");
									}
									})
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==3){
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==4){
										i++;
										$(this).css("display","block"); 
									}else{
										$(this).css("display","none");
									}
									}) 
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
								if(statusId==4){  
									var i=0;
									$('#noOrder').css('display','none');
									$('dd').each(function(){
									var status = $(this).attr("data-id");
									if(status==6 || status==7 || status==8 || status==9){
										i++;
										 $(this).css("display","block");
									} 
									else{
										$(this).css("display","none"); 
									}
									
									}) 
									
									if(i==0){
										$('#noOrder').css('display','block');
									}
								}
							})
						}else{
							
					document.getElementById("orderData").innerHTML='<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" /><span style="display:block;text-align: center;padding: 20px;">您还没有相关的订单</span>';
						}
					}else{
						plus.nativeUI.closeWaiting()
					}
				},
				error:function(xhr,type,errorThrown){
					plus.nativeUI.closeWaiting()
					console.log('响应失败  !');
				}
			});
			}
			
				 
			
			//数组去重
		Array.prototype.unique1 = function() {
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
		    window.goShop=function(id){
				openview({
					view:'../market/shophome.html', 
					extrasobj:{storeId:id}
				})
			}
			window.orderInfo=function(orderId){
				
				openview({
					view:'orderDetail.html',
					id:'orderDetail',
					extrasobj:{orderId:orderId}
				})
			}
			window.delOrder=function(obj,id,txt){ 
				mui.confirm('确认'+txt+'订单？', '提示', ['取消', '确定'], function(e) {
					 
					plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框 
						if(e.index == 1) {
							mui.ajax(serverUrl+'/api/mall/deleteorder',{
								data:{userId:myuserid,orderId:id},
								dataType:'json',
								type:'post',
								timeout:1000,
								headers:{"token":oldToken},	 
								success:function(data,type,xhr){ 
									plus.nativeUI.closeWaiting();
							       if(data.data==1){  
							       	load();
							       }
							 },  
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting()
									console.log('响应失败  !');
								} 
							});
						}else{
							plus.nativeUI.closeWaiting();
						}
						
				})   
			}
			window.goOrder=function(id,payment){
				openview({
					view:"../market/pay.html",
					extrasobj:{payMent:payment,uuid:id}
				})
			}
			window.goComment=function(orderId){
				openview({
					view:'comment.html',
					extrasobj:{orderId:orderId,pageid:'sc-order'}
				})
			}
			window.viewLogistics=function(id,deliveryNo,shipper){
				openview({ 
							view:'../localLife/deliveryTrace.html',
							extrasobj:{deliveryNo:deliveryNo,shipper:shipper}
						})
			}
			window.orderConfirm=function(id){
				mui.confirm('确认收货？', '提示', ['取消', '确定'], function(e) {
					 
					plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框 
						if(e.index == 1) { 
							mui.ajax(serverUrl+'/api/mall/completeorder',{
								data:{userId:myuserid,orderId:id},
								dataType:'json',
								type:'post',
								timeout:1000,
								headers:{"token":oldToken},	 
								success:function(data,type,xhr){ 
									plus.nativeUI.closeWaiting();
							       	if(data.data==1){  
							       	  mui.toast("收货成功"); 
									  load();
							       }
							 },  
								error:function(xhr,type,errorThrown){
									plus.nativeUI.closeWaiting()
									console.log('响应失败  !');
								} 
							});
						}else{
							plus.nativeUI.closeWaiting();
						}
						
				})
			} 
			window.tuiOrder=function(id,price){ 
				openview({
					view:'../market/ruturnList.html', 
					extrasobj:{orderId:id,price:price} 
				})
			}
		})
	</script>
</html>
