<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>设置</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<!--<script src="../../js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script type="text/javascript" src="../../js/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="../../js/jquery.flexslider-min.js"></script>-->
		<style type="text/css">
			#userMessContainer{
				margin-top: 50px;
			}
			i.container{
				font-style: normal;
				position: relative;
			}
			i.imgContainer .upload{
				position: absolute;
				top:0;left:0;bottom:0;right:0;
				z-index:999;
			}
			#main{
				margin-bottom: 100px;
			}
		</style>
	</head>
	<body>
		<header class="hasManyCity hasManyCitytwo" id="header">
			<a href="javascript:history.go(-1)" class="fl fanhui mui-action-back"><i class="iconfont icon-fanhui"></i></a>
			<div class="header-tit">
				管理中心
			</div>		
		</header>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">管理中心</h1>
		</header>
		<div id="container">		
			<div id="main">
		    	<div class="plist clearfloat data" id="userMessContainer">
					<ul>
						<li class="clearfloat touxiang">
							<a href="#">
								<p class="fl">头像</p>
								<i class="fr imgContainer">
					    			<img src="../../img/570da2da9eb8f.png"/>
					    			<div class="upload" id="upload" >上传</div>
								</i>
							</a>
						</li>
					</ul>
				</div>
				<p class="setuptit box-s">账户设置</p>
				<div class="plist plistwo clearfloat data">
					<ul>
						<li class="clearfloat">
							<a href="#">
								<p class="fl">手机</p>
								<input type="text" class="fr shuru" name="" id="" value="已绑定" placeholder="" />
							</a>
						</li>
						<li class="clearfloat">
							<a href="#">
								<p class="fl">微信</p>
								<input type="text" class="fr shuru" name="" id="" value="已绑定" placeholder="" />
							</a>
						</li>
						<li class="clearfloat">
							<a href="#">
								<p class="fl">QQ</p>
								<span class="fr">未绑定</span>
							</a>
						</li>
					</ul>
				</div>
				<!--<a href="#" class="center-btn db ra3">确定修改</a>-->
			</div>
	    </div>
	    <script type="text/html" id="userMessModal">
			<ul>
				<li class="clearfloat touxiang">
					<a href="#">
						<p class="fl">头像</p>
						<i class="fr">
						<%if(userinfo[0].username){%>
							<div class="text-center gray" id="preview" onclick="appendByGallery()">上传</div>
			    		<%}else{%>
							<div id="preview"><img src="<%=userinfo[0].userimage%>" alt="" /></div>
			    		<%}%>
						</i>
					</a>
				</li>
				<li class="clearfloat">
					<a href="#">
						<p class="fl">昵称</p>
						<%if(userinfo[0].username){%>
							<input type="text" class="fr shuru" name="" id="" value="<%= userinfo[0].username %>" placeholder="" />
			    		<%}else{%>
							<input type="text" class="fr shuru" name="" id="" value="<%= userinfo[0].userphone %>" placeholder="" />
			    		<%}%>
					</a>
				</li>
				<li class="clearfloat">
					<a href="#">
						<p class="fl">手机号</p>
						<input type="text" class="fr shuru" name="" id="" value="<%= userinfo[0].phone %>" placeholder="" />
					</a>
				</li>
				<li class="clearfloat">
					<a href="#">
						<p class="fl">性别</p>
						<span class="fr"><%= userinfo[0].gender %></span>
					</a>
				</li>
				<li class="clearfloat">
					<a href="address.html">
						<p class="fl">收货地址</p>
						<span class="fr"><%= userinfo[0].address %></span>
					</a>
				</li>
			</ul>
		</script>
	    <div class="renting-footer renting-footertwo clearfloat" id="footer">
			<ul>
				<li><a href="#">确定修改</a></li>
			</ul>
		</div>
	</body>
	<!--<script src="../../js/fastclick.js"></script>-->
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/artTemplate-native.js"></script>
	
	<script type="text/javascript">
		mui.plusReady(function(){
//				var loginInfo=JSON.parse(plus.storage.getItem("$loginInfo"));	
				
				mui.ajax('http://192.168.199.191:7200/api/useraccount/userinfo',{									
						data:{userid:4}, 
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；	
						beforeSend:function(xhr){
		                	xhr.setRequestHeader("token","eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mbyI6e30sImlhdCI6MTQ4MDIzNzAwMH0.QgNrKZ55H3aobu1f1sat_fJN_k9mqRZF9dAvtoNnlvo");
		                },	//此处设置header参数键值对
						success:function(data){
							//console.info(userInfo,data);
//							console.log('data', data.data);
							var dataobj = {};
							dataobj.userinfo = data.data;
							console.log(dataobj.userinfo[0]);
							//获取并渲染用户信息
							var html=template("userMessModal",dataobj);
							document.getElementById("userMessContainer").innerHTML=html;
						},
						error:function(xhr,type,errorThrown){
							//异常处理；
							console.log("获取失败！");
							mui.toast("当前网络不好请重试");
						}
				});
				
				
			});
	</script>
	
</html>
