<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="competency-Type" competency="text/html"; charset="UTF-8">
		<title>帮帮团列表</title>
		<meta name="viewport" competency="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" competency="yes">
		<meta name="apple-touch-fullscreen" competency="yes">
		<meta name="apple-mobile-web-app-status-bar-style" competency="black">
		<meta name="format-detection" competency="telephone=no">
		<meta name="format-detection" competency="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<!--<link rel="stylesheet" type="text/css" href="../../css/localHost.css"/>-->
		
		<style type="text/css">
			.mui-bar-nav{ 
				box-shadow: none;
			}
			.dealcard .title, .dealcard .price{
				/*height: 0.23rem;*/
			}
			.price .tag{
				font-size: 10px!important;
			}
			.dealcard-brand .mui-pull-right{
				font-size: 10px;
				color: gray;
			}
			.dealcard .price span.tag {
				 background-color:white!important;
				color: #dd524d;
			}
			dl.list dd dl{
				padding-left: 0;
			}
			dl.list dt, dl.list dd{
				border-bottom: 1px solid #EFEFF4;
			}
			dl.list dd>.react{
				padding: 15px !important;
				height: 100px;
			}
			.dealcard, .cinemacard{
				margin: 0;
			}
			.dealcard .dealcard-img{
				width: 66px;
				height: 66px;
				border-radius: 50%;
			}
			.dealcard .dealcard-img img{
				width: 66px;
				height: 66px;
				border-radius: 50%;
			}
			.dealcard .dealcard-brand, .cinemacard .cinemacard-brand {
				font-size: 16px;
				line-height: 16px;
				margin-bottom: 8px;
			}
			.dealcard .dealcard-block-right {
				margin-left: 85px;
			}
			dl.list{
				border-bottom: 1px solid #EFEFF4;
			}
			.dealcard .dealcard-img{height: auto !important;}
			.ageBox{border-radius: 3px;}
			.goto{
				position: absolute;
				right: 10px;
				top: 0;
				line-height: 68px;
				color: #999;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">专家列表</h1> 
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div id="nulldiv" style="text-align:center;margin-top: 50%;font-size: 14px;color: #999;display: none;">
			<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
			<br />
			没有相关信息  
		</div>
		<div id="main">
			<dl class="list" id="listinfodiv">
				<!--<dd>
					<a onclick="forHelp()"class="react">
						<div class="dealcard">
							<div class="dealcard-img">
								<img src="../../img/10.png"/>
							</div>
							<div class="dealcard-block-right">
								<div class="dealcard-brand">胡军衔<span class="ageBox xsmallSize">27岁</span>
									<span class="mui-pull-right">
						                附近100米
						            </span></div>
								<div class="title text-block">  法律工作者</div>
								<div class="price">
									<span class="tag">婚姻家庭</span>
									<span class="tag">劳动争议</span>
									<span class="tag">交通事故</span>
								</div>
									<span class="mui-icon mui-icon-arrowright goto"></span>
								
							</div>
						</div>
					</a>
				</dd>-->
			</dl>
			<script type="text/html" id="listinfo">
				<% for(var i=0; i<list.length; i++){%>
				<dd>
					<a onclick="forHelp(<%= list[i].helper_id%>)"class="react">
						<div class="dealcard">
							<div class="dealcard-img">
								<%if(!list[i].headPic || list[i].headPic == " "){%>
									<img src="../../img/10.png"/>
								<%}else{%>
									<img src="<%= url%><%= list[i].headPic%>"/>
								<%}%>	
							</div>
							<div class="dealcard-block-right">
								<div class="dealcard-brand"><%= list[i].name%><span class="ageBox xsmallSize"></span>
									<span class="mui-pull-right">
					                	<%= list[i].area%> <%= list[i].address%> <span class="coord">距离<%= list[i].distance %>m</span>
						            </span>
								</div> 
								<div class="title text-block"><%= list[i].occupation%>   <sub>服务社区：<%= list[i].address%></sub></div>
								<div class="price">
									<% for(var j=0; j<list[i].competency.length; j++){%>
										<span class="tag"><%= list[i].competency[j]%></span>
									<%}%>
								</div>
								<!--<span class="mui-icon mui-icon-arrowright goto"></span>-->
							</div>
						</div>
					</a>
				</dd>
				<%}%>
			</script>
		</div>
	</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/app.js"></script>
<script src="../../js/artTemplate-native.js"></script>
<script type="text/javascript">
	var address,street;
	function forHelp(helpId){
		if(plus.storage.getItem('myToken')){
			openview({
				view:"linshuiHelpDetail.html",
				extrasobj:{helpId:helpId,address:street,street:address}
			})
		}else{
			mui.toast('请登录');
			openview({
				view:'../login.html'
			})
		}
		
	}
	//搜索显示列表
	mui.plusReady(function(){
//		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		address = plus.webview.currentWebview().area.trim();
		street = plus.webview.currentWebview().street.trim();
		var longitude = plus.webview.currentWebview().longitude;
		var oldtoken = plus.storage.getItem('oldToken');

		//获取信息
		mui.ajax(serverUrl+'/api/localservice/searchhelper',{ 									
			data:{area:street,address:address},  
			dataType:'json',//服务器返回json格式数据 
			type:'post',//HTTP请求类型 
			timeout:10000,//超时时间设置为10秒；	 
			headers:{"token":oldtoken},    
			success:function(data){
				console.log('列表',data);
				var strArr1 = longitude.split(',');
				Lat1 = strArr1[0];
				Lung1 = strArr1[1];
				var coord;
				for(var i=0;i<data.data.length;i++){
					//数据库没有坐标的情况
					if(!data.data[i].x_y || data.data[i].x_y==null){
						coord='false';
						var dataobj = {};
						for(var i=0; i<data.data.length; i++){
							data.data[i].competency = eval("("+data.data[i].competency+")");
						}
						dataobj.list = data.data; 
						dataobj.url = serverimgUrl;
							//获取并渲染用户信息
						var html=template("listinfo",dataobj);
						document.getElementById("listinfodiv").innerHTML = html;
						for(var u=0;u<mui('.coord').length;u++){
							mui('.coord')[u].innerHTML='';
						}
					//数据库有坐标
					}else{
						coord='true';
						var strArr2 = data.data[i].x_y.split(',');
						Lat2 = strArr2[0];
						Lung2 = strArr2[1];
	//					
						GetDistance(Lat1,Lung1,Lat2,Lung2);
						//进行经纬度转换为距离的计算
					    function Rad(d){
					       	return d * Math.PI / 180.0;//经纬度转换成三角函数中度分表形式。
					    }
					    //计算距离，参数分别为第一点的纬度，经度；第二点的纬度，经度
					    function GetDistance(lat1,lng1,lat2,lng2){
					        var radLat1 = Rad(lat1);
					        var radLat2 = Rad(lat2);
					        var a = radLat1 - radLat2;//为两点纬度之差
					        var b = Rad(lng1) - Rad(lng2);//为两点经度之差
					        var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2)+Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
					        s = s *6378.137 ;// EARTH_RADIUS;
					        s = Math.round(s * 10000) / 10; //输出为米
					        s = parseInt(s); //输出为米
					        data.data[i].distance=s;
					    } 
					}
					//定义一个比较器
					function compare(propertyName) {
					    return function(object1, object2) {
					      	var value1 = object1[propertyName];
					      	var value2 = object2[propertyName];
					      	if (value2 < value1) {
					        	return 1;
					      	} else if (value2 > value1) {
					       		return -1;
					      	} else {
					        	return 0;
					      	}
					    }
					}
					//使用方法
					data.data.sort(compare("distance"));
					if(coord=="true"){
						if(data.data.length){  
							var dataobj = {};
							for(var i=0; i<data.data.length; i++){
								data.data[i].competency = eval("("+data.data[i].competency+")");
							}
							dataobj.list = data.data; 
							dataobj.url = serverimgUrl;
								//获取并渲染用户信息
							var html=template("listinfo",dataobj);
							document.getElementById("listinfodiv").innerHTML = html;
						}else{
							mui('#nulldiv')[0].style.display = 'block';
						}
						plus.nativeUI.closeWaiting();//关闭等待框
					}
					
					
				}
				
			},
			error:function(){
				mui('#nulldiv')[0].style.display = 'block';
				plus.nativeUI.closeWaiting();//关闭等待框
				mui.toast("当前网络不好,请重试!");
			}
		});
	})
</script>
</html>
