<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>为民服务-邻水帮帮团-详情页</title>
		<meta name="viewport" competency="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" competency="yes">
		<meta name="apple-touch-fullscreen" competency="yes">
		<meta name="apple-mobile-web-app-status-bar-style" competency="black">
		<meta name="format-detection" competency="telephone=no">
		<meta name="format-detection" competency="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<!--<link rel="stylesheet" type="text/css" href="../../css/localHost.css"/>-->
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/artTemplate-native.js"></script>
		<style type="text/css">
			.dealcard .dealcard-img{
				width: 100px !important;
				height: 100px !important;
				border-radius: 50% !important;
				position: relative;
			}
			.ageBox{border-radius: 3px;}
			.dealcard .dealcard-block-right{
				margin-left: 10px;
				line-height: 30px;
				font-size: 14px;
				padding-top: 20px;
			}
			.helpBage{
				line-height: 25px;
				margin: 20px 0; 
			}
			.dealcard .title, .dealcard .price{
				height: 25px;
			}
			#info{
				line-height: 20px;
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">帮帮团详情</h1>
		</header>
		<div id="main">
			<div class="guess-like">
				<dl class="list">
					<dd>
						<a class="react">
							<div class="dealcard">
								<div class="mui-row">
								    <div class="mui-col-sm-4 mui-col-xs-4">
									    <div class="dealcard-img" style="background-color: #eee;">
											<img src="../../img/10.png"/ id="headPic" onerror="javascript:this.src='../../img/10.png/';">
										</div>
								    </div>
								    <div class="mui-col-sm-8 mui-col-xs-8">
								    	<div class="dealcard-block-right">
											<p id="name" class="black" style="font-size: 16px;"></p>
											<p><span id="sex"></span><span id="age"></span></p>
										</div>
										<br />
										
								    </div>
								</div>
								<div class="helpBage">
									<p class="black">电话：<span id="phone"></span></p>
									<p class="black">邮箱：<span id="email"></span></p>
									<p class="black">职业：<span id="occupation"></span></p>
								</div>
									
								<div class="price" id="bages"></div>
								<script type="text/html" id="bage">
									<% for(var i=0;i<list.length;i++){ %>
										<span class="tag"><%= list[i] %></span>
									<% } %>
									
								</script>
								<br />
								<div class="mui-row">
									简介：<br />
									<article id="info">
									</article>
								</div>
							</div>
						</a>
					</dd>
				</dl>
			</div>
			 <div class="renting-footer renting-footertwo clearfloat">
				<ul>
					<li><a onclick="helpMe()">帮我</a></li>
				</ul>
			</div>
		</div>
	</body>
	</script>
	<script type="text/javascript">

	//搜索显示列表
	mui.plusReady(function(){
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		var address = plus.webview.currentWebview().address;
		var street = plus.webview.currentWebview().street;
		var helpId = plus.webview.currentWebview().helpId;
		var oldtoken = plus.storage.getItem('oldToken');
//		alert(address+street)
		//获取信息
		mui.ajax(serverUrl+'/api/localservice/searchhelper',{ 									
			data:{area:address,address:street},  
			dataType:'json',//服务器返回json格式数据 
			type:'post',//HTTP请求类型 
			timeout:10000,//超时时间设置为10秒；	 
			headers:{"token":oldtoken},    
			success:function(data){
//				alert(JSON.stringify(data.data));
				for(var i=0;i<data.data.length;i++){
					if(data.data[i].helper_id==helpId){
						
						mui('#name')[0].innerHTML = data.data[i].name;
						//年龄判断
						if(!data.data[i].age==0 ){
							mui('#age')[0].innerHTML = data.data[i].age+"岁";
						}else if(!data.data[i].age || data.data[i].age==null){
							mui('#age')[0].innerHTML = data.data[i].age;
						}
						//头像
						if(data.data[i].headPic){
							mui('#headPic')[0].src = serverimgUrl + data.data[i].headPic;
						}else{
							mui('#headPic')[0].src = "../../img/10.png/";
						}
						var dataobj = {};
						dataobj.list = eval("("+ data.data[i].competency +")");
						//获取并渲染用户信息
						var html=template("bage",dataobj);
						document.getElementById("bages").innerHTML = html;
						
						mui('#sex')[0].innerHTML = data.data[i].sex;
						mui('#phone')[0].innerHTML = data.data[i].phone;
						mui('#info')[0].innerHTML =data.data[i].info;
						mui('#occupation')[0].innerHTML = data.data[i].occupation;
						mui('#email')[0].innerHTML = data.data[i].email;
						
						plus.nativeUI.closeWaiting();//关闭等待框
						window.helpMe = function(){
							if(plus.storage.getItem('myToken')){
								openview({
									view:"linshuiHelp.html",
									extrasobj:{helpId:helpId}
								})
							}else{
								mui.toast('请登录');
								openview({
									view:'../login.html'
								})
							}
						}
					}
				}
			},
			error:function(){
				plus.nativeUI.closeWaiting();//关闭等待框
				mui.toast("当前网络不好请重试");
			}
		});
	})
</script>
</html>
