<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/one.css">
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
		
		<style type="text/css">
			.muibackdrop{display: none;}
			.white{color:#FFFFFF !important;}
			.editImg{position: relative;}
			.editImg .onshow{
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right: 0;
				font-style:normal;
				color:#333
			}
			.box-ss{text-align: center;margin:0 auto;padding-left:22%;}
			.h-top .content {width: 100%;margin-left: 0; 
			}
			.h-top {padding-left: 10%;padding-top: 10%;
			}
			.box-ss{text-align: left;
			}
			.myInfo{width: 80px;height:80px;margin: 0 6%;border-radius: 50%;
			}
			.denlu{font-size: 16px;
			}
			.h-bottom{background-color: #932427 !important;
			}
			.brief{margin-left: 38%;margin-top: -10%;
			}
			
		</style>
	</head>
	<body>
		<!--<header class="hasManyCity hasManyCitytwo" id="header">
			<div class="header-tit">
				会员中心
			</div>
			<a href="javascript:;" class="fr shoucang sousuo "><i class="iconfont icon-shezhi"></i></a>
			<a href="#" class="fr shoucang sousuo"><i class="iconfont icon-kefu1"></i></a>			
		</header>-->
	    <div id="container" class="">		
			<div id="main">
			    <div class="warp clearfloat">
			    	<div class="h-top clearfloat box-s box-ss" id="userBox">
			    		<!--未登录显示内容-->
			    		<div class="content clearfloat fl">
			    			<a class="white"><img src="../img/morentouxiang.jpg" class="myInfo"/>
			    			<span class="denlu">
			    				登录\注册
			    			</span></a>
			    		</div>
			    		<div class="h-bottom clearfloat">
			    			<ul>
			    				<li class="integral">
			    					<p>---</p>
			    					<span>积分</span>
			    				</li>
			    				<li class="Vouchers">
			    					<p>---</p>
			    					<span>抵用券</span>
			    				</li>
			    				<li class="message">
			    					<p>--</p>
			    					<span>个人消息</span>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	<!--未登录显示内容-->
			    	<script type="text/html" id="userMessageModal2">
			    		<div class="content clearfloat fl">
			    			<a class="white"><img src="../img/morentouxiang.jpg" class="myInfo"/>
			    			<span class="denlu">
			    				登录\注册
			    			</span></a>
			    		</div>
			    		<div class="h-bottom clearfloat">
			    			<ul>
			    				<li class="integral">
			    					<p>---</p>
			    					<span>积分</span>
			    				</li>
			    				<li class="Vouchers">
			    					<p>---</p>
			    					<span>抵用券</span>
			    				</li>
			    				<li class="message">
			    					<p>--</p>
			    					<span>个人消息</span>
			    				</li>
			    			</ul>
			    		</div>
					</script>
			    	<!--登录显示内容-->
			    	<script type="text/html" id="userMessageModal">
			    		<div class="content clearfloat fl">
			    			<a class="white">
			    				<% if(list[0].avatar){%> 
			    					<img src="../img/morentouxiang.jpg" class="myInfo"/>
			    				<% }else{%>
			    					<img src="../img/morentouxiang.jpg" class="myInfo"/>
			    				<% }%>	
				    			<span class="denlu"><%= list[0].nickname%></span>
				    			<p class="brief"><%= list[0].phone%></p>
			    			</a>
			    		</div>
			    		<div class="h-bottom clearfloat"> 
			    			<ul>
			    				<li class="integral">
			    					<p><%= list[0].intergral%></p>
			    					<span>积分</span>
			    				</li>
			    				<li class="Vouchers">
			    					<p><%= list[0].gid%></p>
			    					<span>抵用券</span>
			    				</li>
			    				<li class="message">
			    					<p><%= list[0].gid%></p>
			    					<span>个人消息</span>
			    				</li>
			    			</ul>
			    		</div>
					</script>
					
			    	<div class="cash clearfloat">
			    		<div class="cash-tit clearfloat box-s">
			    			我的订单
			    		</div>
			    		<div class="shang clearfloat">
			    			<ul>
			    				<li>
			    					<a class="group_Order">
			    						<img src="../img/group1.png"/>
			    						<span>团购订单</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="wmai-order">
			    						<img src="../img/group2.png"/>
			    						<span>我的快递</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="Market_oder">
			    						<img src="../img/group3.png"/>
			    						<span>商城订单</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="Hotel_m">
			    						<img src="../img/group4.png"/>
			    						<span>酒店预约</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="integral_oder ">
			    					
			    						<img src="../img/group5.png"/>
			    						<span>积分兑换订单</span>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	
			    	<div class="cash clearfloat">
			    		<div class="cash-tit clearfloat box-s">
			    			我的优惠券
			    		</div>
			    		<div class="shang clearfloat">
			    			<ul>
			    				<li>
			    					<a class="coupon">
			    						<img src="../img/sale1.png"/>
			    						<span>商家优惠券</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="coupon">
			    						<img src="../img/sale2.png"/>
			    						<span>平台优惠券</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="member2">
			    						<img src="../img/sale3.png"/>
			    						<span>我的会员</span>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	
			    	<div class="cashlist clearfloat">
			    		<ul>
			    			<li class="box-s">
			    				<a class="fabu">
			    					<p class="fl">我的发布</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a class="Membercard"> 
			    					<p class="fl">我的会员卡</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a class="myAddress">
			    					<p class="fl">我的地址</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    		</ul>
			    	</div>			    	
			    	<a class="center-btn db ra3" id="Signout" style="display: none;">退出登录</a>
			    </div>
			</div>
		</div>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				//添加刷新监听
				document.addEventListener('refresh', function() {
					Refresh();
					console.log('刷新数据');
				})
				Refresh();
				
				function Refresh(){//刷新
					//获取缓存
					var myuserid = plus.storage.getItem('userid');
					var oldtoken = plus.storage.getItem('oldToken');
					//取用户数据
					if(plus.storage.getItem('myToken')){
						mui.ajax(serverUrl+'/api/useraccount/userinfo',{
							data:{"userid":myuserid},
							type:'post',
							timeout:10000,
							headers:{"token":oldtoken},	              				
							success:function(data,type,xhr){
								console.log('获取用户数据返回'+JSON.stringify(data));
								if(data.errno == 0){
									var objdata = {};
									objdata.list = data.data;
									objdata.url = serverimgUrl;
									var html=template("userMessageModal",objdata);
									document.getElementById("userBox").innerHTML=html;
									document.getElementById('Signout').style.display = 'block';
									//添加事件监听
									mui('.myInfo')[0].addEventListener('tap',function(){
										openview({
											view:'personal/setup.html'
										});
									});
									mui('.integral')[0].addEventListener('tap',function(){
										openview({
											view:'personal/jifen-order.html'
										});
									});
									mui('.Vouchers')[0].addEventListener('tap',function(){
										openview({
											view:'personal/coupon.html'
										});
									});
									mui('.message')[0].addEventListener('tap',function(){
										openview({
											view:'personal/coupon.html'
										});
									});
									//退出登录
									mui('#Signout')[0].addEventListener('tap',function(){
										plus.storage.removeItem('myToken');
										plus.storage.removeItem('userid');
										plus.storage.removeItem('Acc_pass');
										Refresh();
										plus.nativeUI.showWaiting('退出中 ...',{width:'100px',height:'80px'});
										var time2 = setTimeout(function(){
											plus.nativeUI.closeWaiting();
											mui.toast('退出成功');
										},500)
									});
								}else{
									mui.toast('获取用户信息失败');
									console.log(data.errmsg);
								}
							},
							error:function(xhr,type,errorThrown){
								alert('响应失败  !');
							}
						});
					}else{//退出登录还原
						var objdata = {};
						var html=template("userMessageModal2",objdata);
						document.getElementById("userBox").innerHTML=html;
						document.getElementById('Signout').style.display = 'none';
					}
					
					//团购订单
					mui('.group_Order')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/order.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//商场订单
					mui('.Market_oder')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/sc-order.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//酒店预约
					mui('.Hotel_m')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/hotel-order.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//积分兑换
					mui('.integral_oder')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/jifen-order.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//商家优惠
					mui('.coupon')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/coupon.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//商家优惠卷2
					mui('.coupon')[1].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/coupon.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//我的会员
					mui('.member2')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/member.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//我的发布
					mui('.fabu')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/fabu.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//登录
					mui('.denlu')[0].addEventListener('tap',function(){
						openview({
							view:'login.html'
						});
					});
					//设置
					mui('.myInfo')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/setup.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//我的地址
					mui('.myAddress')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/address.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//积分
					mui('.integral')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/jfguanli.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//抵用卷
					mui('.Vouchers')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/coupon.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//消息中心
					mui('.message')[0].addEventListener('tap',function(){
						if(plus.storage.getItem('myToken')){
							openview({
								view:'personal/coupon.html'
							});
						}else{//没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view:'login.html'
							});
						}
					});
					//Membercard
					mui('.Membercard')[0].addEventListener('tap',function(){ 
						plus.nativeUI.showWaiting('加载中',{width:'100px',height:'80px'});
					});
				}//刷新	
			});
		</script>
		
	</body>

</html>
