<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/one.css">
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--header star-->
		<header class="hasManyCity hasManyCitytwo" id="header">
			<div class="header-tit">
				会员中心
			</div>
			<a href="javascript:;" class="fr shoucang sousuo setUp"><i class="iconfont icon-shezhi"></i></a>
			<!--<a href="#" class="fr shoucang sousuo"><i class="iconfont icon-kefu1"></i></a>-->			
		</header>
	    <!--header end-->
	    <div id="container" class="ymt">		
			<div id="main">
			    <div class="warp clearfloat">
			    	<div class="h-top clearfloat box-s" id="userBox">
			    		
			    	</div>
			    	<div class="cash clearfloat">
			    		<div class="cash-tit clearfloat box-s">
			    			我的订单
			    		</div>
			    		<div class="shang clearfloat">
			    			<ul>
			    				<li>
			    					<a class="group_Order">
			    						<img src="../img/group1.png"/>
			    						<span>团购订单</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a href="../wmai-order.html">
			    						<img src="../img/group2.png"/>
			    						<span>我的快速</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="Market_oder">
			    						<img src="../img/group3.png"/>
			    						<span>商城订单</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="Hotel_m">
			    						<img src="../img/group4.png"/>
			    						<span>酒店预约</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="integral_oder">
			    					
			    						<img src="../img/group5.png"/>
			    						<span>积分兑换订单</span>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	
			    	<div class="cash clearfloat">
			    		<div class="cash-tit clearfloat box-s">
			    			我的优惠券
			    		</div>
			    		<div class="shang clearfloat">
			    			<ul>
			    				<li>
			    					<a class="coupon">
			    						<img src="../img/sale1.png"/>
			    						<span>商家优惠券</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="coupon">
			    						<img src="../img/sale2.png"/>
			    						<span>平台优惠券</span>
			    					</a>
			    				</li>
			    				<li>
			    					<a class="member2">
			    						<img src="../img/sale3.png"/>
			    						<span>我的会员</span>
			    					</a>
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	
			    	<div class="cashlist clearfloat">
			    		<ul>
			    			<li class="box-s">
			    				<a class="fabu">
			    					<p class="fl">我的发布</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a href="#">
			    					<p class="fl">我的消息</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a>
			    					<p class="fl">我的地址</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<!--<li class="box-s">
			    				<a href="../huifu.html">
			    					<p class="fl">我的客服</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>
			    			<li class="box-s">
			    				<a href="#">
			    					<p class="fl">关于99Tobo</p>
			    					<i class="iconfont icon-jiantou1 fr"></i>
			    				</a>
			    			</li>-->
			    		</ul>
			    	</div>			    	
			    	<a class="center-btn db ra3 denlu">登录</a>
			    </div>
			</div>
		</div>
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			(function(){
				//设置
				mui('.setUp')[0].addEventListener('tap',function(){
					openview({
						view:'personal/setup.html'
					});
				});
//				//余额
//				mui('.vfyue')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/recharge.html'
//					})
//				});
//				//积分<a href="../jfguanli.html" class="integral">
//				mui('.integral')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/jfguanli.html'
//					});
//				});
//				//抵用卷<a href="../coupon.html" class="Vouchers">
//				mui('.Vouchers')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/coupon.html'
//					});
//				});
//				//团购订单<a href="../order.html" class="group_Order">
//				mui('.group_Order')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/order.html'
//					});
//				});
//				//商场订单<a href="../sc-order.html" class="Market_oder">
//				mui('.Market_oder')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/sc-order.html'
//					});
//				});
//				//酒店预约<a href="../hotel-order.html" class="Hotel_m">
//				mui('.Hotel_m')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/hotel-order.html'
//					});
//				});
//				//积分兑换<a href="../jifen-order.html" class="integral_oder">
//				mui('.integral_oder')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/jifen-order.html'
//					});
//				});
//				//团购收藏<a href="../tuan.html" class="Group_Collection">
//				mui('.Group_Collection')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/tuan.html'
//					});
//				});
//				//百货收藏<a href="../mall.html" class="Department_Collection">
//				mui('.Department_Collection')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/mall.html'
//					});
//				});
//				// 关注商家 <a href="../remen.html" class="remen">
//				mui('.remen')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/remen.html'
//					});
//				});
//				//商家优惠卷<a href="../coupon.html" class="coupon">
//				mui('.coupon')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/coupon.html'
//					});
//				});
//				//商家优惠卷<a href="../coupon.html" class="coupon">
//				mui('.coupon')[1].addEventListener('tap',function(){
//					openview({
//						view:'personal/coupon.html'
//					});
//				});
//				//我的会员<a href="../member.html" class="member">
//				mui('.member2')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/member.html'
//					});
//				});
//				//积分兑换<a class="jfguanli">
//				mui('.jfguanli')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/jfguanli.html'
//					});
//				});
//				//我的发布<a class="fabu">
//				mui('.fabu')[0].addEventListener('tap',function(){
//					openview({
//						view:'personal/fabu.html'
//					});
//				});
//				
//				
				//登录
				mui('.denlu')[0].addEventListener('tap',function(){
					openview({
						view:'login.html'
					});
				});
			})();
			
			
			
			
			mui.plusReady(function(){
				var loginInfo=JSON.parse(plus.storage.getItem("$loginInfo"));	
				
//				mui.ajax('user.json',{									
//						data:{"phone":loginInfo.account},
//						dataType:'json',//服务器返回json格式数据
//						type:'post',//HTTP请求类型
//						timeout:10000,//超时时间设置为10秒；	              
//						success:function(data){
//							//console.info(userInfo,data);
//							//获取并渲染用户信息
//							var html=template("userMessageModal",data);
//							document.getElementById("userBox").innerHTML=html;
//						},
//						error:function(xhr,type,errorThrown){
//							//异常处理；
//							console.log("获取失败！");
//							mui.toast("当前网络不好请重试");
//						}
//				});
				mui.ajax(serverUrl+'/api/useraddress/addresslist',{
								data:{"userid":4},
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型
								timeout:10000,//超时时间设置为10秒；
								headers:{'Content-Type':'application/json',"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mbyI6e30sImlhdCI6MTQ4MDIyMTI5NH0.fhwfkVg-x08qp1JyLm1zZVmrNbh5Sbhf0NIi_w2775w"},	              
								success:function(data){
//									if(data.errno==0){
//										plus.storage.setItem("$loginSign",JSON.stringify(account.value));
//										mui.openWindow({
//										    url: 'index.html'
//										});
//										return true;
//									}else{
//										mui.toast("用户名或密码错误！");
//										return false;
//									}
	
								},
								error:function(xhr,type,errorThrown){
									console.log(type);
									alert(type);
								}
				});
					
			});
			
			
			
			
			

		</script>
		<script type="text/html" id="userMessageModal">
			<div class="tu clearfloat fl">
			<%if(userinfo[0].username){%>
    			<img src="<%= userinfo[0].userImg %>"/>
    		<%}else{%>
    			<img src="../img/touxiang.png"/>
    		<%}%>
    		</div>
    		<div class="content clearfloat fl">
    		<%if(userinfo[0].username){%>
    			<p class="hname"><%= userinfo[0].username %></p>
    			<p class="htel"><%= userinfo[0].userphone %></p>
    		<%}else{%>
    			<p class="hname"><%= userinfo[0].userphone %></p>
    		<%}%>

    			
    		</div>
    		<div class="h-bottom clearfloat">
    			<samp></samp>
    			<ul>
    				<li>
    					<a class="vfyue">
	    					<p><%= userinfo[0].balance %></p>
	    					<span>余额</span>
    					</a>
    				</li>
    				<li>
    					<a class="integral">
	    					<p><%= userinfo[0].integral %></p>
	    					<span>积分</span>
    					</a>
    				</li>
    				<li>
    					<a class="Vouchers">
	    					<p><%= userinfo[0].vouchers %></p>
	    					<span>抵用券</span>
    					</a>
    				</li>
    			</ul>
    		</div>
		</script>
	</body>

</html>
