<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>封面main</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/one.css">
		<link rel="stylesheet" href="../css/mainHtml.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script> 
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/artTemplate-native.js"></script>
	</head>

	<body>
		<header class="hasManyCity mui-row mui-bar mui-bar-transparent" id="header" style="z-index: 200;">
			<div id="" class="cityBtn">邻水</div>
			<div id="" class="searchBox">
				<a class="openSearch">
					<i class="icon-search"></i>
					<span>请输入您想找的内容</span>
				</a>
			</div>
			<a style="">
				<div id="xiaoxi" class="qrcodeBtn"></div> 
			</a>
		</header>
		<!--状态栏开始-->
		<style type="text/css" id="headStyle"></style>
		<div id="sBar" style="background-color: #f7f7f7;position: fixed;width:100%;top: 0;z-index: 9999"></div>
		<script type="text/javascript">
			var immersed = 0;
			var ms=(/Html5Plus\/.+\s\(.*(Immersed\/(\d+\.?\d*).*)\)/gi).exec(navigator.userAgent);
			if(ms&&ms.length>=3){ // 当前环境为沉浸式状态栏模式
			    immersed=parseFloat(ms[2]);// 获取状态栏的高度
			}
			var headdiv = document.getElementById('header');//这是现有的header
			var headH = parseInt(immersed) + parseInt(headdiv.offsetHeight);
			document.getElementById('headStyle').innerHTML = '.headI{height: '+ headH +'px !important;} .hasManyCity .searchBox{top:'+immersed+'px} .qrcodeBtn{top:'+immersed+'px}';
			headdiv.className  += " headI";
			headdiv.style.paddingTop = immersed + "px";
			
			//给head加阴影效果, 改变字颜色
			$(window).scroll(function() {　　
				var scrollTop = $(this).scrollTop();　　
				var scrollHeight = $(document).height();　　
				var windowHeight = $(this).height();　　
				if(scrollTop >= 100) {//不透明背景
					mui('#header')[0].style.boxShadow="0 0 2px rgba(175, 166, 166, 0.85)";
					mui('.cityBtn')[0].className = 'cityBtn cityBtnNOtoumin';
					mui('#xiaoxi')[0].className = 'qrcodeBtn qrcodeBtnNOtoumin';
					mui('.searchBox')[0].style.background = 'rgba(204, 204, 204, 0.54)';
				}else{//透明背景
					mui('#header')[0].style.boxShadow="0 0 0 rgba(175, 166, 166, 0.85)";
					mui('.cityBtn')[0].className = 'cityBtn';
					mui('#xiaoxi')[0].className = 'qrcodeBtn';
					mui('.searchBox')[0].style.background = 'rgba(255, 255, 255, 0.57)';
				}
			});
		</script>
		<!--状态栏结束-->
		<!--<div id="container">-->
			<div id="scroller">
				<!--轮播图-->
				<div class="mui-slider" id="banner"></div>
				<!--banner数据渲染-->
				<script type="text/html" id="banner-detail">
					<div class="mui-slider-group mui-slider-loop">
						<!--支持循环，需要重复图片节点-->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<% if(bannerList[bannerList.length-1].url==null || bannerList[bannerList.length-1].url=='') { %>
							<a onclick="bannerGo('<%=bannerList[bannerList.length-1].url%>','<%=bannerList[bannerList.length-1].name%>','one')">
								<!--<img src="<%= url %><%= bannerList[bannerList.length-1].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
								<img src="../img/mainHtml/banner.png"/>
							</a>	
							<% }else{ %>
							<a onclick="bannerGo('<%=bannerList[bannerList.length-1].url%>','<%=bannerList[bannerList.length-1].name%>','one')">
								<!--<img src="<%= url %><%= bannerList[bannerList.length-1].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
								<img src="../img/mainHtml/banner.png"/>
							</a>
							<% } %>
						</div>
						<% for(var i=0;i<bannerList.length;i++){ %>
						<div class="mui-slider-item">
							<% if(bannerList[i].url==null || bannerList[i].url=='') { %>
							<a onclick="bannerGo('<%=bannerList[i].url%>','<%=bannerList[i].name%>','one')">
								<!--<img src="<%= url %><%= bannerList[i].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
								<img src="../img/mainHtml/banner.png"/>
							</a>	
							<% }else{ %>
							<a onclick="bannerGo('<%=bannerList[i].url%>','<%=bannerList[i].name%>','one')">
								<!--<img src="<%= url %><%= bannerList[i].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
								<img src="../img/mainHtml/banner.png"/>
							</a>
							<% } %>
						</div>
						<% } %>
						<!--支持循环，需要重复图片节点-->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<% if(bannerList[0].url==null || bannerList[0].url=='') { %>
							<!--<img src="<%= url %><%= bannerList[i].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
							<img src="../img/mainHtml/banner.png"/>
							<% }else{ %>
							<a onclick="bannerGo('<%=bannerList[0].url%>','<%=bannerList[0].name%>','one')"> 
								<!--<img src="<%= url %><%= bannerList[0].bannerPic %>" onerror="javascript:this.src='../img/market/nodata.svg';" />-->
								<img src="../img/mainHtml/banner.png"/>
							</a>
							<% } %>
						</div>
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<% for(var i=0;i<bannerList.length-1;i++){ %>
						<div class="mui-indicator"></div>
						<% } %>
					</div>
				</script>
			</div>
			
		<div id="main"> 
		<div class="onetable">
			<table>
				<tbody>
					<tr>
						<td class="market"><img src="../img/mainHtml/hongfan.png" /><br/>
							<p>宏帆广场</p>
						</td>
						<td class="locallife"><img src="../img/mainHtml/bendi.png" /><br />
							<p>本地生活</p>
						</td>
						<td class="ticket"><img src="../img/mainHtml/chongzhi.png" /><br />
							<p>充值缴费</p>
						</td>
						<td class="darenbang"><img src="../img/mainHtml/daren.png" /><br />
							<p>答人榜</p>
						</td>
						<td class="jiaoyou"><img src="../img/mainHtml/jiaoyou.png" /><br/>
							<p>交友</p>
						</td>
					</tr>
					<tr>
						<td class="loveBuy"><img src="../img/mainHtml/kuajin.png" /><br />
							<p>跨境优品</p>
						</td>
						<td class="teseguan"><img src="../img/mainHtml/tese.png" /><br/>
							<p>特色馆</p>
						</td>
						<td class="chaoshiyou"><img src="../img/mainHtml/chaoshi.png" /><br/>
							<p>超市优选</p>
						</td>
						<td class="onsale"><img src="../img/mainHtml/tiantian.png" /><br/>
							<p>天天特价</p>
						</td>
						<td class="fil"><img src="../img/mainHtml/kandianying.png" /><br/>  
							<p>看电影</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="sy_recmd" style="background-color: #fff;">
 
 		<!--邻水印象-->
 		<div id="" style="margin-bottom: 2px;">
 			<img src="../img/mainHtml/yingxiang.png"/>
 		</div>
		<!--HI友圈--> 
		<div class="mui-content hiFriend">
			<h3 class="partTitle"> <img src="../img/mainHtml/hired.png"/> <span></span> 友圈</h3>
		    <div class="mui-row">
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang2.png"/>
		            	theFin
		            	<img class="lovePic" src="../img/mainHtml/weizan.png"/>
		            </p>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang2.png"/>
		            	王菲
		            	<img class="lovePic" src="../img/mainHtml/weizan.png"/>
		            </p>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang2.png"/>
		            	thefin
		            	<img class="lovePic" src="../img/mainHtml/yizan.png"/>
		            </p>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang.png"/>
		            	王菲
		            	<img class="lovePic" src="../img/mainHtml/weizan.png"/>
		            </p>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang.png"/>
		            	haiyang
		            	<img class="lovePic" src="../img/mainHtml/yizan.png"/>
		            </p>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4 paddDiv">
		            <img class="bigPic" src="../img/makeFriend/jiaoyou.png"/>
		            <p class="footFirend">
		            	<img class="avaPic" src="../img/mainHtml/touxiang.png"/>
		            	王菲
		            	<img class="lovePic" src="../img/mainHtml/yizan.png"/>
		            </p>
		        </div>
		        
		    </div>
		</div>
		<!--HI问答-->
		<div class="QandA">
			<h3 class="partTitle" style="margin-bottom: 5px;"> <img src="../img/mainHtml/hiblue.png"/> <span></span> 答人榜</h3>
			<div class="QAhead">
				<span class="active aClick">我要问</span>
				<span class="aClick">我要答</span>
				<span class="aClick">精选</span>
			</div>
			<div id="listOldDiv">
				<div id="listConW1" class="middleI listSon"><!--我要问 盒子1-->
					<div class="listCon aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							wangfei
							<span>
								10HI豆
							</span>
							<b>悬赏</b>
						</h4>
						<p class="fineB">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					<div class="listCon  aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							海洋
							<span>
								10HI豆
							</span>
						</h4>
						<p class="fineB">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					<div class="listCon aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							向前
							<span>
								10HI豆
							</span>
						</h4>
						<p class="">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					
					<div class="moreCon fineB"><span>更多 </span></div>
				</div>
				
				<div id="listConW2" class="leftT listSon"><!--我要问盒子2-->
					
					<div class="listCon  aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							万福
							<span>
								10HI豆
							</span>
						</h4>
						<p class="fineB">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					<div class="listCon aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							thefin
							<span>
								10HI豆
							</span>
						</h4>
						<p class="">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					
					<div class="moreCon fineB"><span>更多 </span></div>
				</div>
				
				<div id="listConW3" class="leftT listSon"><!--我要问盒子3-->
					<div class="listCon aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							wangfei
							<span>
								10HI豆
							</span>
						</h4>
						<p class="fineB">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					<div class="listCon  aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							wangfei
							<span>
								10HI豆
							</span>
						</h4>
						<p class="fineB">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					<div class="listCon aClick">
						<h4 class="listHead">
							<img src="../img/mainHtml/touxiang2.png"/>
							wangfei
							<span>
								10HI豆
							</span>
						</h4>
						<p class="">女 25 眼霜需要多少岁呢 ? 现在我 25 用早不早,应该注意些什么 ? </p>
					</div>
					
					<div class="moreCon"><span>更多 </span></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var listCon = document.getElementsByClassName('QAhead')[0].getElementsByTagName('span');
			var listSon = mui('.listSon');
			//初始化listOldDiv度
			mui('#listOldDiv')[0].style.height = mui('.listSon')[0].offsetHeight +'px';
			[].forEach.call(listCon,function(ele,index){/*点击方法*/
				ele.onclick = function(){
					if(!ele.className.includes('active')){
						[].forEach.call(listCon,function(ele2){
							ele2.className = '';
						})
						ele.className = 'active aClick';
						
						[].forEach.call(listSon,function(ele3){
							ele3.className = 'leftT listSon';
						})
						mui('#listOldDiv')[0].style.height = mui('.listSon')[index].offsetHeight +'px';
						listSon[index].className = 'middleI listSon';
					}
					
 				}
			})
			
		</script>
		 
		 
		 
		 
		<!--HI抢购                   推荐列表-->
		<div class="sy_recmd">
 			<h3 class="partTitle" style="margin-top: 8px;"> <img src="../img/mainHtml/hicheng.png"/> <span></span> 抢购</h3>
			<div class="sy_recmd_list_box">
				<ul> 
				<div id="">
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8932','230')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8932','230')">七夕情人节钜惠套餐：西班牙原瓶进口爱情洛丽塔干红葡萄酒750ML+恒都爽口牛排130G*3</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥98<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥207</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8652','230')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8652','230')">[布里斯班阳光]恒都腌制西冷牛排180g*5块</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥198<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥290</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8731','307')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8731','307')">韩国代购HERA赫拉阳光伴靓防晒霜 防紫外线清爽保湿隔离SPF50+</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥170<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥299</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8731','307')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8731','307')">韩国代购HERA赫拉阳光伴靓防晒霜 防紫外线清爽保湿隔离SPF50+</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥170<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥299</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				</div>
				</ul>
				<div class="clear"></div>
			</div> 
		</div>
		
		<!--HI源头找土货      推荐列表-->
		<div class="sy_recmd">
 			<h3 class="partTitle" style="margin-top: 8px;"> <img src="../img/mainHtml/hicheng.png"/> <span></span> 找源头土货 <br/><b>农家直供  新鲜到家</b></h3>
			<div class="sy_recmd_list_box">
				<ul> 
				<div id="">
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8932','230')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8932','230')">七夕情人节钜惠套餐：西班牙原瓶进口爱情洛丽塔干红葡萄酒750ML+恒都爽口牛排130G*3</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥98<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥207</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8652','230')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8652','230')">[布里斯班阳光]恒都腌制西冷牛排180g*5块</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥198<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥290</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8731','307')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8731','307')">韩国代购HERA赫拉阳光伴靓防晒霜 防紫外线清爽保湿隔离SPF50+</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥170<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥299</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('8731','307')">
								<img src="../img/mainHtml/shangpingtu.png" width="145" height="145" class="hotImg">
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('8731','307')">韩国代购HERA赫拉阳光伴靓防晒霜 防紫外线清爽保湿隔离SPF50+</a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥170<small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥299</small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								<p></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				</div>
				</ul>
				<div class="clear"></div>
			</div> 
		</div>
		
		 
		<!--hi推荐   推荐列表-->
		<div class="sy_recmd">
			<!--推荐列表-->
 			<h3 class="partTitle" style="margin-top: 8px;"> <img src="../img/mainHtml/hired.png"/> <span></span> 抢购</h3>
			<div class="sy_recmd_list_box">
				<ul> 
					<div id="moll_recommend"></div>
				</ul>
				<div class="clear"></div>
			</div>
			<!--热门推荐-->
			<script type="text/html" id="recommendTpl">
				<%if(recommendData.length==0){%> 暂无推荐商品
				<%}else{%>
				<%for(var i=0;i<recommendData.length;i++){%>
				<li class="sy_recmd_list">
					<div class="box" style="margin-bottom: 5px;">
						<div class="pub_img">
							<a class="rcdPadding" onclick="goInfo('<%=recommendData[i].goods_id%>','<%=recommendData[i].storeid%>')">
								<%if(recommendData[i].thumb){%>
								<img src="<%=myUrl %><%=recommendData[i].thumb%>" onerror="javascript:this.src='../img/market/none.png';" width="145" height="145" class="hotImg">
								<%}else{%>
								<img src="../img/market/none.png" width="145" height="145" class="hotImg">
								<%}%>
							</a>
						</div>
						<div class="pub_wz">
							<h3 class="overflow_clear"><a onclick="goInfo('<%=recommendData[i].goods_id%>','<%=recommendData[i].storeid%>')"><%=recommendData[i].title%></a></h3>
							<div class="nr_box mui-row">
								<div class="mui-col-sm-5 mui-col-xs-5 ">
									<p class="fl fontcl2">￥<%=recommendData[i].price%><small style="font-size: 0.12rem;color: gray;text-decoration: line-through;white-space: nowrap;margin-left: 5px;">原价￥<%=recommendData[i].originalprice%></small>
									</p>
								</div>
								<div class="mui-col-sm-7 mui-col-xs-7 saled">
								</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<%}%>
				<%}%>
			</script>
			<div class="upload text-center text-xs gray" id="upload"></div>
		</div>
		</div>
		<div id="clickLeave"></div>

		<script type="text/javascript"> 
			
			var Spagenum = 2; //实到页数
			var Ypagenum = 1; //应到页数 
			mui.plusReady(function() {
				window.addEventListener('reload',function(event){
					plus.webview.currentWebview().reload();
				});
				//跳转页面
				var Timetoken = null;
				var oldToken = null;
				if(plus.storage.getItem('oldToken')){
					oldToken = plus.storage.getItem('oldToken');
					console.log('循环加载数据1');
					againfun();
				}else{
					clearInterval(Timetoken);
					Timetoken = setInterval(function() { //等待oldToken加载方法
					if(plus.storage.getItem('oldToken')) {
						clearInterval(Timetoken);
						oldToken = plus.storage.getItem('oldToken');
						console.log('循环加载数据2');
						againfun();
					}
				}, 200)
				}
				function againfun() {
					var locallife = document.getElementsByClassName('locallife')[0];
					var darenbang = document.getElementsByClassName('darenbang')[0];
					var server = document.getElementsByClassName('server')[0];
					var ticket = document.getElementsByClassName('ticket')[0];
					var market = document.getElementsByClassName('market')[0];
					var teseguan = document.getElementsByClassName('teseguan')[0];
					var onsale = document.getElementsByClassName('onsale')[0];
					var fil = document.getElementsByClassName('fil')[0];
					var loveBuy = document.getElementsByClassName('loveBuy')[0];
					var tuangou = document.getElementsByClassName('tuangou')[0];
					
					//本地生活
					locallife.addEventListener('tap', function() {
						openview({
							view: 'localLife/localLifeIndex.html'
						});
					});
					//领HI豆
					darenbang.addEventListener('tap', function() { 
						openview({
							view:'answerBoard/answerIndex.html',
							id:"answerIndex", 
						}); 
					});
					//为民服务
//					server.addEventListener('tap', function() {
//						openview({
//							view: 'serveForPeople/serveForIndex.html',
//						});
//					});
					//充值缴费
					ticket.addEventListener('tap', function() {
						openview({
							view: 'piaowu.html',
						});
					});
					//宏帆广场
					market.addEventListener('tap', function() {
						openview({
							view: 'market/market.html',
							id: "market"
						});
					});
					//特色馆
					teseguan.addEventListener('tap', function(){
						openview({
							view:'market/tsmall.html',
							id:'tsmall'
						});
					});
					//天天特价
					onsale.addEventListener('tap', function(){
						openview({
							view:'market/specialOffer.html',
							id:''
						});
					});
					//电影
					fil.addEventListener('tap', function() {
						openview({ 
							view: 'market/dianying.html', 
							extrasobj: { 
								bannerUrl:"http://m.maoyan.com/?from=singlemessage" 
							}
						});
					});
					//跨境优品
					loveBuy.addEventListener('tap', function() {
						openview({
							view: 'market/youpinhui-Center.html',
							id: "youpinhui-Center"	
						});
					});
					//团购 
//					tuangou.addEventListener('tap', function() { 
//						openview({//待开发
//							view:'daikaifa.html'
//						});
//					});
					//打开搜索页面
					mui('.openSearch')[0].addEventListener('tap', function() {
						openview({
							view: 'localLife/theSearch.html'
						});
					});
					//打开消息
					mui('#xiaoxi')[0].onclick = function() {
						if(plus.storage.getItem('myToken')) {
							openview({
								view: 'personal/my-info.html'
							});
						} else { //没登陆直接打开登录页面
							mui.toast('请登录');
							openview({
								view: 'login.html'
							});
						}
					};

					//banner数据
					mui.ajax(serverUrl + '/api/index/banner', {
						data: {
							banner_type: 1
						},
						dataType: 'json',
						type: 'post',
						timeout: 10000,
						headers: {
							"token": oldToken
						},
						success: function(data, type, xhr) {
							console.log('banner', data);

							bannerObj = {};
							if(data.data.banner) {
								bannerObj.bannerList = eval("(" + data.data.banner + ")");
								console.log('banner图', bannerObj.bannerList);
								bannerObj.url = serverimgUrl;
								var html = template('banner-detail', bannerObj);

								document.getElementById('banner').innerHTML = html;
								plus.nativeUI.closeWaiting(); //关闭等待框
							}
							//轮播图,获得slider插件对象
							var gallery = mui('.mui-slider');
							gallery.slider({
								interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
							});
						},
						error: function(xhr, type, errorThrown) {
							console.log('首页banner,响应失败');
						}
					});
					
					 
					//热门推荐 数据渲染  
					var currentPage = 1,
						numsPerPage = 6;
					mui.ajax(serverUrl + '/api/mall/mallgooodslist', {
						data: {currentPage:currentPage,numsPerPage:numsPerPage,categoryid:"",recommend:1,differentiate:4,storeid:'',brand:'',keyword:'',order_type:'sort',desc:'asc'},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型 
						timeout: 10000, //超时时间设置为10秒；	
						headers: {
							"token": oldToken
						},
						success: function(data) {
							console.error(data);
							if(data.errno == 0) {
								var dataobj = data.data.return.data
								var recommendObj = {}
								recommendObj.myUrl = serverimgUrl;
								recommendObj.recommendData = dataobj
								document.getElementById("moll_recommend").innerHTML = template("recommendTpl", recommendObj);
								mui("#upload")[0].innerHTML = "";
								//上滑加载
								$(window).scroll(function() {　　
									var scrollTop = $(this).scrollTop();　　
									var scrollHeight = $(document).height();　　
									var windowHeight = $(this).height();　　
									if(scrollTop + windowHeight == scrollHeight) {
										if(Spagenum <= data.data.return.totalPages && Spagenum == Ypagenum + 1) { //当前页小于等于总页数时请求下一页
											mui("#upload")[0].innerHTML = "<img src='../img/balls.svg' />";
											Ypagenum++; //满足加载情况,应到页数+1
											console.log('发起请求,实到' + Spagenum + '页');
											console.log('发起请求,应到' + Ypagenum + '页');
											mui.ajax(serverUrl + '/api/mall/mallgooodslist', {
												data: {
													currentPage: Spagenum,
													numsPerPage: numsPerPage,
													recommend: 1,
													differentiate: 1,
													storeId: '',
													brand: '',
													keyword: '',
													order_type: 'price',
													desc: ''
												},
												dataType: 'json', //服务器返回json格式数据
												type: 'post', //HTTP请求类型 
												timeout: 10000, //超时时间设置为10秒；	
												headers: {
													"token": oldToken
												},
												success: function(data) {
													if(data.errno == 0) {
														var dataobj = data.data.return.data
														var recommendObj = {}
														recommendObj.myUrl = serverimgUrl;
														recommendObj.recommendData = dataobj
														document.getElementById("moll_recommend").innerHTML += template("recommendTpl", recommendObj);
													}
													mui("#upload")[0].innerHTML = " ";
													Spagenum++; //加载成功,当前页+1
													console.log('成功+1,实到' + Spagenum);
													console.log('成功+1,应到' + Spagenum);
												},
												error: function(xhr, type, errorThrown) {
													Ypagenum--; //失败是应到-1
													mui.toast("当前网络不好请重试");
													mui("#upload")[0].innerHTML = "";
												}
											});
										} else if(Spagenum == data.data.return.totalPages + 1) { //当前页不小于等于总页数时请求下一页
											mui("#upload")[0].innerHTML = "到底了";
										}
									} 
								});
							} else {
								mui("#upload")[0].innerHTML = "";
							}
							plus.nativeUI.closeWaiting(); //关闭等待框
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting(); //关闭等待框
							mui("#upload")[0].innerHTML = "";
						}
					});
				} //重载方法结束 
			});
			
			//商品跳转详情
			function goInfo(goodsId, storeId) {
				if(storeId == 0) {
					openview({
						view: "market/yphDetail.html",
						extrasobj: {
							goodsId: goodsId
						}
					})
				} else {
					openview({
						view: "market/mall-detail.html",
						extrasobj: {
							goodsId: goodsId
						}
					})
				}

			}
		</script>
	</body>

</html>