<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>会场列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href=" ../../css/common.css">
		<link rel="stylesheet" type="text/css" href=" ../../css/index.css">
		<link rel="stylesheet" type="text/css" href=" ../../css/mui.min.css"/>
		<link rel="stylesheet" href=" ../../css/reset.css">
		<script type="text/javascript" src=" ../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<!--引用模板引擎-->
		<script type="text/javascript" src="../../js/artTemplate-native.js"></script>
		<style type="text/css">
			.sy_recmd_list .pub_wz h3 a{
				color: #333;
				line-height: 18px;
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				width: 100%;
				display: -webkit-box;
				height: 0.18rem;
                margin-top: 0.1rem;
			}
			.sy_title{
				border-bottom: none;
				border-top: none;
			}
			 
			.sy_recmd_list .box{
				border: none;
				margin: 3px;
				box-shadow: 0px 0px 1px #ccc;
			}
			#main{
				background-color: #EFEFF4;
			}
			.sy_recmd_list_box{
				padding-left: 0;
			}
			#conncilB img{
				width: 100%;
			}
			.sy_recmd_list .pub_wz .nr_box{
				border-top: none;
			}
			#moll_recommend{
				padding-top: 10px;
			}
		</style>
	</head>
	<body style="background: white;">
		<header class="mui-bar mui-bar-nav hasManyCity hasManyCitytwo">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize fl fanhui"></a>
		    <div class="header-tit">
				会场列表
			</div>
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div id="main">
			<div id="conncilB"></div>
			<!--会场列表-->
			<div class="sy_recmd">
				<div class="sy_recmd_list_box">
					<ul>
						<div id="moll_recommend"></div>
					</ul>
					<div class="clear"></div>
				</div> 
				<!--热门推荐-->
				<script type="text/html" id="recommendTpl">
					<% for(var j=0;j<outList.length;j++){ %>
						<li class="sy_recmd_list" onclick="goConncilGood(<%= outList[j].goods_id %>)">
							<div class="box">
								<div class="pub_img">
									<a class="rcdPadding">
										<img src="<%=myUrl %><%= outList[j].thumb %>" onerror="javascript:this.src='../../img/market/banner.png';" width="145" height="145" class="hotImg">
									</a>
								</div>
								<div class="pub_wz">
									<h3 class="overflow_clear">
										<a ><%= outList[j].title %></a>
									</h3>
									<div class="nr_box mui-row">
										<div class="mui-col-sm-5 mui-col-xs-5 ">
								        	<p class="fl fontcl2"><sub>¥</sub>&nbsp;<%= outList[j].price %></p>
								      </div>
								     </div>
								</div>
							</div>
						</li> 
					<%}%>
				</script> 
				<div class="upload text-center text-xs gray" id="upload"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		mui.init();
		mui.plusReady(function(){
			plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
			//数据渲染
			var oldToken = plus.storage.getItem('oldToken');
			var concilId = plus.webview.currentWebview().concilId;
//			console.log(oldToken);
			mui.ajax(serverUrl+'/api/mall/shopactivestoreorgoods',{
				data:{type:1,isVenue:''},
				dataType:'json',
				type:'post',
				timeout:10000,
				headers:{"token":oldToken},	 
				success:function(data,type,xhr){
					for(var m = 0;m<data.data.length;m++){
						if(data.data[m].main.id ==concilId){
//							alert(eval("("+data.data[m].main.picImg+")")[0].picImg);
//							alert(JSON.stringify(data.data[m].minor[0].thumb));
							outObj={};
							outObj.outList=data.data[m].minor;
							outObj.myUrl= serverimgUrl;
							conncilB = eval("("+data.data[m].main.picImg+")")[0].picImg;//顶部图片
							mui('#conncilB')[0].innerHTML = '<img src="'+serverimgUrl+conncilB+'" id="conncilBanner"/>';
							document.getElementById("moll_recommend").innerHTML+=template("recommendTpl",outObj);
							plus.nativeUI.closeWaiting();//关闭等待框
							
							//点击进入商品
							window.goConncilGood = function(goodsId){
								openview({
									view:'mall-detail.html',
									extrasobj:{goodsId:goodsId}
								})
							}
						}
					}
				},
				error:function(xhr,type,errorThrown){
					mui.toast('响应失败  !');
					plus.nativeUI.closeWaiting();//关闭等待框
				}
			}); 
		})();
	</script>
</html>